@use 'colors';
@use 'fuentes';
@use 'mixins';


@mixin parrafos-generales {
    font-size: 15px;
    font-family: $contenidoFonts;
  }
  
  @mixin titulos-generales {
    font-family: $tittlesFonts;
    font-size: 30px;
    color: #213C65;
    font-weight: 600;
  }
  
  @mixin subtitulos-generales {
    font-size: 25px;
    font-family: $tittlesFonts;
    color: #213C65;
  }
  
  @mixin backgroundSectionAdmin {
    margin-top: 3em;
    background-color: #f4f4f4;
  }

$tittlesFonts: "Roboto Condensed", sans-serif;
$contenidoFonts: "Roboto", sans-serif;
$contenido2: "Montserrat", sans-serif;


$color-principal: #243a5e;
$color-complementario: #f2efe1;



  
.section-category{
    align-items: flex-start;
    margin: 5em  2em 0 2em;
    .contenedor-rutas{
        margin: 3em 0;
        .aside-rutas{
            flex-direction: row;
            justify-content: center;
        }
    }
    .categorias{
        display: flex;
        flex-direction: column;
        width: 90vw;
        margin: auto;
        aside{
            display: grid;
            gap: 2em;
            grid-template-columns: 40% 60%;
            justify-content: flex-start;
            .body-category{
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);    
                padding: 25px;
                height: 250px;
                border-radius: 3px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-color: white;
                .title-add-category{
                    font-size: 20px;
                    font-family: $tittlesFonts;
                    color: #243a5e;
                    margin: 0 0 20px 0;
                }  
                .input-category{
                    width: 300px;
                }  
                       
                        
                .contenedor-message-server{
                    height: 10px;
                    margin: 5px 0;
                    padding:5px 0;
                    text-align: center;
                        
                }  
                            
            }
            .lista-categrtorias{
                background-color: white;
                padding: 20px;
                border-radius: 3px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
                .title-table-category{
                    color: #243a5e;
                    font-family: $tittlesFonts;
                    font-size: 20px;
                    margin: 10px 0;
                    text-align: center;
                }
                .thead-table{
                    font-family: $tittlesFonts;
                    color: #243a5e;
                    font-weight: 600;
                }
            }
           
           
        }
        // article{
        //     background-color: #213C65;
        //     color: white;
        //     p{
        //         font-size: 30px;
        //     }

        // }
       
    }
    // subcategorias
    .subcategorias{
        width: 90vw;
        margin: auto;
        display: grid;
        grid-template-columns: 40% 60%;
        flex-direction: column;
        gap: 2em;
        align-items: flex-start;
        .body-category{
            background-color: white;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);    
            padding: 25px;
            height: 250px;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 3px;
            .title-add-category{
                font-size: 20px;
                font-family: $tittlesFonts;
                color: #243a5e;
                margin: 0 0 20px 0;
            }  
            .input-category{
                width: 300px;
            }  
                    
            .contenedor-message-server{
                height: 10px;
                margin: 5px 0;
                padding:5px 0;
                text-align: center;
                    
            }  
                        
        }
        .contenedor-category-delete{
            background-color: white;
            padding: 20px;
            height: 300px;
            max-height: 350px;
            margin-top: 2em;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);   
            border-radius: 3px; 
            .title-delete-category{
                color:$color-principal;
                font-family: $tittlesFonts;
                font-size: 20px;
                text-align: center;
            }
            .text{
                color: #213C65;
                font-family: $contenido2;
                margin: 10px 0;
                line-height: 18px;
                text-align: left;
                font-size: 14px;
                margin: 0;
            }
           select .form-select{
            overflow: auto;
            max-height: 200px;
           }
            .contenedor-message-server{
                height: 20px;
                margin-top: 10px;
                text-align: center;
            }
        }
        .lista-categrtorias{
            padding: 20px;
            background-color: white;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
            max-height: 400px;
            overflow-y: auto;
            overflow-wrap: break-word;
            border-radius: 3px;
            .title-table-category{
                color: #243a5e;
                font-family: $tittlesFonts;
                font-size: 20px;
                margin: 10px 0;
                text-align: center;
            }
            .thead-table{
                font-family: $tittlesFonts;
                color: #243a5e;
                font-weight: 600;
        
            }
            
        }  
    }
}
      
       
    
    @media screen and (max-width: 1280px ){
        .container-category{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .section-category{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .body-category{
                    max-width: 650px;
                    width: 600px;
                }
               
            }
          
           
        }
        

    }
    @media screen and (max-width: 1280px ){
        .container-category{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .section-category{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .body-category{
                    max-width: 350px;
                    width: 400px;
                }
                .delete{
                    width: 350px;
                }
                .container-list-category{
                    width: 350px;
                }
               
            }
          
           
        }
        

    }
      
