$tittlesFonts: "Roboto Condensed", sans-serif;
$contenidoFonts: "Roboto", sans-serif;
$contenido2: "Montserrat", sans-serif;


$color-principal: #243a5e;
$color-complementario: #f2efe1;



.body-content {
  padding: 10px;
  // height: 100vh;
  .table-user {
    width: 100%;
    .table-responsive{
      border-radius: 5px;
    }
    .thead-table-users {
      background-color: #032e6e;
      color: $color-complementario;
    }
  }
}