$tittlesFonts: "Roboto Condensed", sans-serif;
$contenidoFonts: "Roboto", sans-serif;
$contenido2: "Montserrat", sans-serif;


$color-principal: #243a5e;
$color-complementario: #f2efe1;



.body-content {
  padding: 10px;
  .table-user {
    box-shadow: 0 0 5px 1px rgba(117, 117, 117, 0.2);
    width: 100%;
    .thead-table-users {
      background-color: #032e6e;
      color: $color-complementario;
    }
  }
}