

$tittlesFonts: "Roboto Condensed", sans-serif;
$contenidoFonts: "Roboto", sans-serif;
$contenido2: "Montserrat", sans-serif;


$color-principal: #243a5e;
$color-complementario: #f2efe1;

body{
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    overflow-x: hidden;
    scrollbar-width: none;
    overflow-y: none;
   
}


// carrusel 

    .carrusel{
        justify-content: center;
        width: 100vw;
        margin: 0 auto;
        display: flex;
        max-height: 400px;
        margin-top: -17px;
        .carousel-image {
            object-fit: unset; 
            object-position:center; 
            overflow: hidden; 
            height: 450px;
        }
        .carousel-control-next-icon{
            border-radius: 50px;
            padding: 25px;
            background-color: black;
        }
        .carousel-control-prev-icon{
            background-color: #213C65;
            border-radius: 50%;
            padding: 25px;
            background-color: black;
        }
    }



// componente de perfil de usuarios

.popover-user-profile{
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 6px 2px rgb(216, 216, 216);
    border-radius: 10px;
    .name-user-profile{
        color: #243a5e;
        text-align: center;
    }
    .btn-profile-users{
        width: 60%;
        background-color: white;
        color: #243a5e;
        border: none;
        cursor: pointer;
        &:hover{
            background-color: white;
            color: red;
        }
        text-align: left;
    }
    .icon-btn-off{
        margin: -3px 5px 0 0;
        font-size: 19px;
    }
}


// home 


.contenido{
    width: 80vw;
    margin: auto;
    font-family: $contenidoFonts;

    h1{
        font-size: 25px;
        margin: 2em 0 20px 0;
        text-align: center;
        font-weight: 600;
        font-family: $tittlesFonts;
        color: #213C65;
    }
    p{
        font-size: 15px;
        text-wrap: wrap;
        text-align: center;
        line-height: 20px;
        font-family: $contenido2;
        margin: 0 auto;
        text-align: justify;
    }
    .txt{
        text-align: center;
    }
    h2{
        font-size: 23px;
        font-weight: 500;
        color: #213C65;
        text-align: left;
        margin-top: 3em;
    }

    
 .box-products-home{   
   height: auto;
   width: 100%;
   margin: 1em 0 2em 0;
   display: flex;
   gap: 20px;
   .link{
    text-decoration: none;
    color: black;
   }
   .contenedor{
    padding: 10px;
    width: 13em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all ease 0.5s;
    img{
        box-shadow: 0 0 5px rgb(162, 162, 162) ;
        width: 12em;
        border-radius: 10px;
        height: 10em;
    }
    span{
        position:absolute;
        background-color:#3573e6;
        color:#f4f4f4;
        bottom: 0;
        font-size: 17px;
        border-radius: 10px;
        padding: 5px 10px;
    }

    &:hover{
        scale: 1.1;
    }
   }
  
 }
  .jumping-text{
    font-size: 14px;
    text-align: center;
    color: #243a5e;
    margin: 6em 0;
    font-weight: bold;
 }
 
.animated-truck{
    float: right;
    width: 100px; 
    animation: moveTruck 3s linear infinite;
}
 @keyframes moveTruck {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(50px); 
    }
    100% {
      transform: translateX(0);
    }
}
 

 .svg-home{
    display: flex;
    justify-content: space-between;
 }

 .svg-store {
    font-family: $contenido2;
    align-items: center;
    display: flex;
    flex-direction: column;
    .text-svg-store{
        font-size: 13px;
        font-weight: bold;
        text-align: left;
    }
    .text-svg{
        font-size: 12px;
    }

 }
 .svg-truck{
    font-family: $contenido2;
    display: flex;
    flex-direction: column;
    align-items: center;
    .text-svg-truck{
        font-size: 13px;
        font-weight: bold;
        text-align: left;
    }
    .text-svg{
        font-size: 12px;
    }
 }
}



@media screen and (min-width: 1024px )and (max-width: 1280px) {
    .carrusel{
        height: auto;
        .carousel-image {
            object-fit: unset; 
            object-position:center; 
            overflow: hidden; 
            height: 450px;
        }
    }
   .contenido {
    .box-products-home { 
        width: 100%;
        gap: 10px;
        height: auto;
        div{
            width: 10em;
            .contenedor{
                width: 10em;
                height: 10em;
                img{
                    width: 10em;
                    height: 9em;
                }
                span{
                    font-size: 12px;
                }
        
            }   
        }
      
       
    }
   }
}

@media (min-width: 800px) and (max-width: 1400px){
    .carrusel{
        height: auto;
        margin-top: -4em;
        .carousel-image {
            object-fit: unset; 
            object-position:center; 
            overflow: hidden; 
            height: 350px;
        }
    }

   .contenido {
    width: 95vw;
    margin: auto ;
    .box-products-home { 
        width: 100%;
        div{
            .contenedor{
                width: 7em;
                img{
                    width: 7em;
                    height: 6em;
                }
                span{
                    font-size: 12px;
                }
        
            }   
        }
      
       
    }
   }

}

      
@media  screen and (min-width: 500px) and (max-width: 800px) {
    .carrusel{
        margin-top: -4em;
        height: auto;
        .carousel-image {
            object-fit: unset; 
            object-position:center; 
            overflow: hidden; 
            height: 250px;
        }
        .carousel-caption{
            h5{
                font-size: 13px;
                
            }
            p{
                font-size: 10px;
            }
              
        }
        .carousel-indicators{
            button{
                width: 18px;
            }
        }
        
    }
       
    .container{
        margin: 0 auto;
        width: 95vw;
        .title-productos{
            margin-top: 6em;
            font-size: 22px;
        }
        .text{
            font-size: 13px;
        } 
        // revisar la dimencion de la pantalla
        .box-products-home { 
            background-color: #f4f4f4;
            width: 100%;
            gap: 5px;
            div{
                .contenedor{
                    width: 7em;
                    img{
                        width: 6em;
                        height: 5em;
                    }
                    span{
                        font-size: 12px;
                    }
            
                   }   
            }
          
           
        }
       
    }
    .content-icons-nav{
       margin-top: 10px;
       display: flex;
       flex-direction: column;
    }
    .contenedor-car {
      position: relative;
      width: 100px;
      margin-left: -5px;
        .insignia-car {
            position: absolute;
            left: 38px;
        }
    }
        
}


@media (min-width: 300px) and (max-width: 500px) {
    
    .carrusel{
     height: auto;
     margin-top: -6em;
        .carousel-image {
            object-fit: unset; 
            object-position:center; 
            overflow: hidden; 
            height: 150px;
        }
     .carousel-control-prev-icon{
        padding: 0;
     }
    }
    .contenido{
        width: 95vw;
        h1{
          font-size: 18px;
        }
        h2{
         font-size: 19px;
        }
        .txt{
         font-size: 12px;
         text-align: center;
        }
        p{
         font-size: 12px;
        }
        .box-products-home{
           width: 100%;
           overflow-x: auto;
           gap: 5px;
           div{
            padding: 10px 0;
            .contenedor{
                width: 7em;
                height: auto;
                img{
                    width: 6em;
                    height: 5em;
                }
                span{
                    font-size: 12px;
                }
               }
           }
          
           
        }
        .jumping-text{
            font-size: 12px;
        }
       
         .svg-home{
            margin-top: 9em;
            padding: 4px;
            margin-left: -15px;
            .svg-truck{
                .text-svg-truck{
                    margin: -3px 0 -2px 0  ;
                    font-size: 13px;
                }
                .text-svg{
                    font-size: 9px;
                }
             }
             .svg-store{
                .text-svg-store{
                    margin: -3px 0 -2px 0  ;
                    font-size: 13px;
                }
                .text-svg{
                    font-size: 9px;
                }
             }
        }
         
    
    }
       
       
        .contenedor-car {
         position: relative;
         width: 100px;         
         margin-left: -7px;
          .insignia-car {
              position: absolute;
              left: 39px;
            }
        }
       .svg-home {
         display: flex;
         justify-content: space-evenly;
        } 
    
}
// /* Estilos para dispositivos de 300px a 499px */
// @media (min-width: 300px) and (max-width: 499px) {
//     /* Estilos para dispositivos pequeños */
// }

// /* Estilos para dispositivos de 500px a 767px */
// @media (min-width: 500px) and (max-width: 767px) {
//     /* Estilos para dispositivos medianos */
// }

// /* Estilos para dispositivos de 768px a 1023px */
// @media (min-width: 768px) and (max-width: 1023px) {
//     /* Estilos para tablets y dispositivos similares */
// }

// /* Estilos para dispositivos de 1024px a 1199px */
// @media (min-width: 1024px) and (max-width: 1199px) {
//     /* Estilos para dispositivos de tamaño medio */
// }

// /* Estilos para dispositivos de 1200px en adelante */
// @media (min-width: 1200px) {
//     /* Estilos para pantallas grandes o de alta resolución */
// }