


$tittlesFonts: "Roboto Condensed", sans-serif;
$contenidoFonts: "Roboto", sans-serif;
$contenido2: "Montserrat", sans-serif;

.modal-content{
    margin: auto;
    width: 90%;
    .login-form{
        font-family: $contenidoFonts;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        color: white;
    
        .fav-login{
            align-self: center;
            width: 7em;
        }
        .text-form{
            color:#213C65;
            margin: 30px 0 ;
            text-align: center;
            font-weight: lighter;
        }
        .btn-custome-goolgle{
            background-color:white;
            cursor: pointer;
            border-radius: 20px;
            width: 90%;
            margin: auto;
            display: flex;
            border: solid 1px #e3e6e8;
            height: 40px;
            justify-content: center;
            align-items: center;
            gap: 5px;
            transition: all 0.4s;
            color: black;
            font-size: 14px;
            .icon-google{
                .icon{
                   width: 30px;
                }
            }
            &:hover{
                background-color:#99b8e7;
            }
        }
    
        .txt-form-login{
            margin-top: 10px;
            text-align: center;
            font-weight: 600;
        }
    
        .contenedor-liner{
            display: flex;
            justify-content: center;
            align-items: center;
            .o{
                color:#213C65 ;
                font-size: 12px;
                font-weight: bold;
            }
            .liner-separator{
                border: 1px solid #213C65;
                width: 10em;
            }
        }
        .login-custome {
            width:90%;
            border-radius: 20px;
            margin: 0 auto;
        }
        .btn-recovery{
            margin-bottom: 1em;           
        }
        .btn-submit{
            width: 90%;
            border-radius: 20px;
            margin: 0 auto;
        }

        .message-response-server{
            text-align: center;
            font-size: 17px;
            height: 15px;
            padding: 30px 0;
        }
       
    
    }
    //  registro 
    .form-register{
        margin: auto;
        font-family: $contenidoFonts;
        display: flex;
        flex-direction: column;
       .text-form{
        margin: 2em auto;
       }
       .btn-custome-goolgle{
        background-color:white;
        cursor: pointer;
        border-radius: 20px;
        width: 90%;
        margin: auto;
        display: flex;
        border: solid 1px #e3e6e8;
        height: 40px;
        justify-content: center;
        align-items: center;
        gap: 5px;
        transition: all 0.4s;
        font-size: 14px;
        .icon-google{
            .icon{
               width: 30px;
            }
        }
        &:hover{
            background-color:#99b8e7;
        }
       }
        .txt-form-login{
            margin-top: 10px;
            text-align: center;
            font-weight: 600;
        }
        .contenedor-liner{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 10px;
            .o{
                color: #213C65;
                font-size: 12px;
                font-weight: bold;
            }
            .liner-separator{
                border: 1px solid #213C65;
                width: 10em;
            }
        }
        .login-custome {
            width: 90%;
            border-radius: 20px;
            margin: 0 auto;
        }
        .message-response-server{
            color: red;
            text-align: center;
            margin:15px 10px;
            font-weight: 500;
            font-size: 15px;
            height: 15px;
            font-family: $contenido2;
        }
        .btn-submit{
            width: 90%;
            border-radius: 20px;
            margin: 0 auto;
            margin-top: 1em;
        }
        .invalid-feedback{
            text-align: center;
            margin: auto;
        }
    
    }

    .btn-alter-modal{
        border: none;
        color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-family: $contenidoFonts;
        cursor: pointer;
        &:hover{
            color: rgb(60, 21, 202);
        }
    }

    .btn-recovery{
        text-decoration: none;
        float: right;
        color: #213C65;
        cursor: pointer;
        font-family: $contenido2;
        font-size: 17px;
    }
}



.btn-close-custom, .footer-modal-custom{
    border: none;
}





@media (min-width: 600px) and (max-width: 768px) {

    .modal-content{
        margin: auto;
        width: 95%;
        .login-form{
            margin: 0 auto;
            .contenedor-liner{
                display: flex;
                .liner-separator{
                    width: 9em;
                }
            }
            .login-custome {
                margin: 0 auto;
                width: 80%;
            }
         
            .btn-recovery{
                font-size: 14px;
            }
            .btn-submit{
                width: 80%;
            }
        
        }
        .form-register{
          
            .contenedor-liner{
                display: flex;
                .liner-separator{
                    width: 9em;
                }
            }
            .login-custome {
                width: 80%;
            }
            .btn-submit{
                width: 80%;
            }
            
        }
    }
    
  }

@media (min-width: 300px) and (max-width: 420px) {
    .modal-content{
        margin: auto;
        width: 95%;
        .login-form{
            margin: 0 auto;
            .btn-custome-goolgle{
                width: 100%;
            }
            .form-login{
                width: 100%;
            }
            .contenedor-liner{
                display: flex;
                .liner-separator{
                    width: 7.5em;
                }
            }
            .login-custome {
                margin: 0 auto;
                width: 100%;
            }
         
            .btn-recovery{
                font-size: 14px;
            }
            .btn-submit{
                width: 100%;
            }
        
        }
        .form-register{
            .form-login{
                width: 100%;
            }
            .btn-custome-goolgle{
                width: 100%;
            }
            .contenedor-liner{
                display: flex;
                .liner-separator{
                    width: 7em;
                }
            }
            .login-custome {
                margin: 0 auto;
                width: 100%;
            }
         
            .btn-recovery{
                font-size: 14px;
            }
            .btn-submit{
                width: 100%;
            }
            
        }
    }
    
   
   
  
}


