@mixin bordeBox {
  border: solid 1px #ebebeb;
  box-shadow: 0 0 5px rgba(84, 84, 84, 0);
  box-sizing: border-box;
  background-color: white;
}


$tittlesFonts: "Roboto Condensed", sans-serif;
$contenidoFonts: "Roboto", sans-serif;
$contenido2: "Montserrat", sans-serif;


$color-principal: #243a5e;
$color-complementario: #f2efe1;


.nav-custome-admin {
  box-shadow: 2px 2px 4px rgba(166, 166, 166, 0.4), -2px -2px 4px rgba(255, 0, 0, 0.4);
  justify-content: space-between;
  background-color: white !important;

  .navbar-collapse {
    display: flex;
    justify-content: end;

    .box-infor-admin {
      gap: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: $contenido2;

      .admin {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 10px;
        cursor: pointer;

        .icon {
          font-size: 30px;
        }

        &:hover {
          color: #213C65;
        }
      }

      .logout {
        button {
          height: 40px;
          background-color: #f8f9fa;
          border: none;
          border-radius: 30px;
          transition: all ease 0.3s;
          padding: 5px 10px;
        }

        &:hover {
          button {
            background-color: red;
            color: white;

          }
        }
      }

    }
  }

  .logotipo {
    transition: all ease 0.4s;
    cursor: pointer;
    width: 10em;

  }

  .nav-link-custome {
    font-weight: 400;
    color: $color-principal;
    cursor: pointer;
    transition: all ease 0.3s;
    text-decoration: none;
    margin-right: 15px;

    &:hover {
      scale: 1.1;
    }
  }

}

.body-content{
  .container-cards-home-admin {
    .box-rutas-admin {
        display: grid;
        gap: 20px;
        padding: 20px;
        grid-template-columns: repeat(auto-fit, minmax(16em, 1em));

        .link-box {
            text-decoration: none;
            border-radius: 10px;
            width: 16em;
            height: 15em;
            padding: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: 0 0 5px rgb(217, 216, 216);
            transition: all ease 0.3s;
            font-family: $contenidoFonts;

            .box-rutas {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;

                .icon-box {
                    display: block;
                    width: 100px;
                    height: 100px;
                    color: #243a5e;
                }

                .text-content {
                    padding: 0;
                    margin: 0;

                    h2 {
                        font-weight: bold;
                        margin: 0;
                        padding: 0;
                    }

                    span {
                        font-size: 13px;
                    }
                }
            }

            &:hover {
                box-shadow: 0 0 5px 1px rgb(199, 199, 199);
            }
        }
    }
}
}
