


@mixin parrafos-generales {
    font-size: 15px;
    font-family: $contenidoFonts;
}
  
@mixin titulos-generales {
    font-family: $tittlesFonts;
    font-size: 30px;
    color: #213C65;
    font-weight: 600;
}
  
@mixin subtitulos-generales {
    font-size: 25px;
    font-family: $tittlesFonts;
    color: #213C65;
}
  
@mixin backgroundSectionAdmin {
    margin-top: 3em;
    background-color: #f4f4f4;
}

$tittlesFonts: "Roboto Condensed", sans-serif;
$contenidoFonts: "Roboto", sans-serif;
$contenido2: "Montserrat", sans-serif;


$color-principal: #243a5e;
$color-complementario: #f2efe1;
//  carrito 
.contenedor-car{
    position: relative;
    .carshop{
        width: 50px;
        height: 40px;
        cursor: pointer;  
    }
  
}

// barra de navegacion 
.nav-custom{
    background-color: white;
    box-shadow: 2px 2px 4px rgba(84, 84, 84, 0.4), -2px -2px 1px rgba(255, 0, 0, 0.4);
    .header-nav{
        width: 100%;
        display: flex;
        flex-direction: column;
        .contenedor-header-nav{
            flex-direction: column;
            display: flex;
            gap: 2px;
           .header-logo{
            width: 100%;
            justify-content: space-around;
            display: flex;
            align-items: center;
            .contenedor-search{
                width: 400px;
                display: flex;
                .form-control{
                    border-radius: 1px;
                }
                .btn{
                    border-radius: 1px;
                }
                .btn-icon{
                    border: solid 1px rgb(197, 197, 197);
                    padding: 0 15px;
                    background-color: #909193;
                    color: white;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    .icon{
                        font-size: 20px;
                    }
                }
                .input-nav{
                    justify-content: center;
                    height: 40px;
                    display: flex;
                    width: 90%;
                    align-self: center;
                }
            }
           
           }
           .content-icons-nav{
            margin-top: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
            .MuiAvatar-circular{
                background-color:#243a5e;
            }
            .pedidos{
                margin-bottom: -10px;
            }
            .box-pedidos{
                margin-top: -10px;
                width: 35px;
                height: 35px;
                cursor: pointer;
               
            }
            .perfil{
                margin-top: -4px;
            }
            
           }
           .content-icons-nav div{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-family: $contenido2;
            span{
                color: gray;
                margin-top: 5px;
                font-size: 8px;
                cursor: pointer;
                &:hover{
                    color: black;
                    scale: 1.1;
                }
            }
           }
           
        }
        .menu-navegacion{
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            .nav-list{
                justify-content: flex-start;
                align-items: start;
                margin-left: 12em;
                display: flex;
                gap: 20px;
            }
            .nav-link-custom{
                padding: 15px 0;
                color: black;
                font-size: 14px;
                font-weight: 500;
                transition: color 0.3s ease;
                text-decoration: none;
                transition: all 0.3s ease;
                &:hover {
                  color: rgb(158, 158, 207);
                }
                
            }
            .menu-container {
                display: flex;
                justify-content: center;
                .menu-item {
                  position: relative;
                  margin-top: 14px;
                  font-size: 14px;
                  font-weight: 600;
                  cursor: pointer;
                  &:hover .submenu {
                    opacity: 1;
                    margin-right: 0;
                    pointer-events: auto;
                  }
                 
              
                  .submenu{
                    opacity: 0;
                    pointer-events: none;
                    position: absolute;
                    top: 100%;
                    left: 0; 
                    right: 0;
                    width: 100vw;
                    transform: translateX(-12vw);
                    background-color: #fff;
                    padding: 10px;
                    justify-content: flex-start;
                    padding-left: 14em;
                    display: flex;
                    transition: all 0.5s ease; 
                    box-shadow: 2px 2px 4px rgba(107, 107, 107, 0.1);
                    ul{
                        list-style: none;
                        li{
                            margin-top: 10px;
                        }
                       a{
                        text-decoration: none;
                        font-size: 14px;
                        font-family: $contenido2;
                       } 

                    }
                    .nav-link-item{
                        font-size: 14px;
                        color: black;
                        font-weight: 500;
                        &:hover{
                            color: #213C65;
                        }
                    }
                    
                  }
                  .submenu2{
                    transform: translateX(-16.5vw);
                    padding-left: 20em;
                  }
                  .submenu3{
                    padding-left: 35em;
                    transform: translateX(-21.5vw);
                  }
                  .submenu4{
                    padding-left: 45em;
                    transform: translateX(-34.5vw);
                  }
                }
              
            }
              
              
           
            
            
        }
       
    }
   
    .logotipo{
        fill:$color-principal;
        width: 10em;
        cursor: pointer;
        transition: all 0.5s ease;
        margin: 0 -10px -3px  0 ;
    }
 
   
   
    .btn-custom-movil{
        color: white;
        background-color: #f2efe1;
    }
    
   
}


@media (min-width: 800px) and (max-width: 1400px) {
  
    .nav-custom .header-nav .contenedor-header-nav .header-logo{
        justify-content: space-around;
        gap: 20px;
        hr{
            display: none;
        }
    }
    .nav-custom .header-nav .menu-navegacion .nav-list{
        margin-left: 8em;
        .menu-item{
            .submenu{
                transform: translateX(-13vw);  
            }
            .submenu2{
                transform: translateX(-21vw);
                padding-left: 20em;
            }
            .submenu3{
                padding-left: 35em;
                transform: translateX(-30vw);
            }
            .submenu4{
                padding-left: 45em;
                transform: translateX(-51.4vw);
            }
        }

    }
  
    
}

@media (min-width: 500px) and (max-width: 780px) {
    .nav-custom .header-nav{
        display: flex;
        padding: 0 20px;
        justify-content: space-around;
        hr{
            display: none;
        }
        .header-logo{
            display: flex;
            justify-content: center;
            align-items: center;
        }
      
    }
    .nav-custom .header-nav .contenedor-header-nav .header-logo{
        width: 100%;
        justify-content: space-around;
        gap: 20px;
        text-decoration: none;
    }
    .nav-custom .header-nav .contenedor-header-nav .header-logo .input-nav{
        display: none;
    }
    .nav-custom .header-nav .contenedor-header-nav .content-icons-nav {
        display: flex;
        flex-direction: row;
        gap:0;
        justify-content: center;
        align-items: center;
    }
    
   
    
}

@media (min-width: 300px) and (max-width: 490px) {
 
    .carrusel{
        .carousel-control-next-icon{
            padding: 0;
            .visually-hidden{
                width: 20px;
            }
        }
    }
    .nav-custom{
       
        .header-nav{
            display: flex;
            hr{
                display: none;
            }
            .navbar-toggler{
                width: 35px;
                height: 35px;
                .navbar-toggler-icon{
                    width: 20px;
                    height: 20px;
                    margin: -5px 0 0 -5px;

                }
            }
            .contenedor-header-nav{
                .header-logo{
                    display: flex;
                    justify-content: space-around;
                    .logotipo{
                        width: 6em;
                        margin-left: 10px;
                    }
                    .input-nav{
                        display: none;
                    }
                    .content-icons-nav{
                        display: flex;
                        flex-direction: row;
                        gap:0;
                        justify-content: center;
                        align-items: center;
                    }
                   
                    .car{
                        width: 80px;
                        margin-right: -5px;
                    }
                }
            }
        }
    }  
   
    .offcanvas-body{
        .nav-link-custom{
            color: #213C65;
            padding: 4px 0;
            font-size: 15px;
            text-decoration: none;

        }
    }
}


