
$tittlesFonts: "Roboto Condensed", sans-serif;
$contenidoFonts: "Roboto", sans-serif;
$contenido2: "Montserrat", sans-serif;
  


.container-ofertas{
    font-family: $contenido2;

  H1{
    font-size: 25px;
    font-weight: 500;
    text-align: center;
  }

}


@media screen and (max-width: 420px) {
    .container-ofertas{
        h1{
            font-size: 18px;
            margin-top: 4em;
        }
        p{
            font-size: 12px;
            text-align: center;
            margin-top: 2em;
        }
    }
}

