
 
$tittlesFonts: "Roboto Condensed", sans-serif;
$contenidoFonts: "Roboto", sans-serif;
$contenido2: "Montserrat", sans-serif;


  

$color-principal: #243a5e;
$color-complementario: #f2efe1;

@mixin bordeBox{
    border: solid 1px #ebebeb ;
    box-shadow: 0 0 5px  rgba(84, 84, 84, 0);
    box-sizing: border-box;
    background-color: white;
}
.body-content{
   .container-ofertas{
    display: grid;
    padding: 2em 0;
    display: grid;
    grid-template-columns:2fr 1fr ;
    gap: 20px;
    justify-content: center;
    .add-ofertas{
        grid-area: content2;
        height: auto;
        max-width:400px;
        padding: 15px;
        text-align: center;
        border-radius: 1px;
        font-family: $contenidoFonts;
        background-color: white;
        box-shadow: 0 0 5px 1px rgba(117, 117, 117, 0.2);
        .title-add-ofertas{
            font-size: 20px;
            font-family: $tittlesFonts;
            color: #243a5e;
            margin-bottom: 20px;
        }
        .label-date{
            font-size: 12px;
            color: #243a5e;
        }
        .text{
            font-family: $contenidoFonts;
            font-size: 13px;
            margin: 0;
            padding: 0;
            color: #243a5e;
            text-align: justify;
            margin-top: 2em;
            line-height: 16px;
        }
       
       
    }
       
    .section-listado-ofertas{
        grid-area: content1;
        background-color: white;
        width: 100%;
        padding: 5px;
        box-shadow: 0 0 5px 1px rgba(90, 90, 90, 0.2);
        border-radius: 1px;
        .accordion{
            .accordion-button{
                border-radius: 1px;
                text-transform: uppercase;
                color: #243a5e;
            }
        }
       .title-list-ofertas{
        font-family: $tittlesFonts;
        color: #243a5e;
        padding: 20px;
       }
       .ofertas-no-disponibles{
        color: #243a5e;
        font-size: 17px;
        font-family: $tittlesFonts;
        padding: 10px 0;
        margin: 0 auto;
        text-align: center;
       }
       .body-ofertas-acordeon{
        display: flex;
        gap: 3em;
        max-height: 300px;
        .content-buttons-section{
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
       }
       .text-oferta{
        font-family: $contenido2;
        color: #243a5e;
       }
       .sale{
        color: red;
       }
       .text-producto-oferta{
        font-family: $tittlesFonts;
       }
       ul {
        max-height: 150px;
        overflow: auto;
       }
       li{
        list-style: disc;
        font-size: 14px;
        color: #243a5e;
        font-family: $contenido2;
       }
       
    }
   }

   

    @media screen and (max-width: 1280px) {
        .container-section-ofertas {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 50px;
            
        } 
       .aside-ofertas{
        display: flex;
        justify-content: center;
        align-items: center;
       }
    }
  
   
}
.popover{
    border-radius: 1px;
    .popover-header{
        margin-top: 1px;
        border-radius: 1px;
        background-color: #06409d;
        color: white;
    }
    .popover-body{
        max-height: 300px;
        overflow-y: auto;
    }
}
.modal-ofertas-delete{
    
    .title-modal-delete{
        color: red;
        font-family: $tittlesFonts;
        padding: 10px;
        font-size: 19px;
        text-align: center;
    }
   
    .w-ofertas{
        display: block;
        width: 80px;
        margin: auto ;
        height: 80px;
        color: red;
    }
  
    .content-button-ofertas{
        display: flex;
        gap: 10px;
        justify-content: end;
        padding: 10px;
        .btn{
            width: 45%;
            margin: auto;
        }
    }
    .text-delete-oferta{
        font-family: $contenidoFonts;
        text-align: center;
    }
    .t{
        color: red;
        text-transform: uppercase;
        margin-left: 5px ;
    }
}
.modal-ofertas-update{
    font-family: $contenido2;
    .header-modal-update{
        border: none;
        .title-modal-update{
            font-family: $tittlesFonts;
        }
    }
    .text-ofertas{
        text-align: left;
        font-size: 15px;
        line-height: 17px;
        padding: 20px 0 0 10px ;
        margin: 0;
    }
    .body-modal-ofertas-update{
        padding: 0 10px;
        color: #243a5e;
        text-align: center;

       .label-date{
        font-size: 12px;
        color: #243a5e;
       }
    }
    .content-button-ofertas{
        padding: 20px;
        display: flex;
        justify-content: end;
        .btn{
            width: 100%;

        }
    }
}