@mixin bordeBox{
    border: solid 1px #ebebeb ;
    box-shadow: 0 0 5px  rgba(84, 84, 84, 0);
    box-sizing: border-box;
    background-color: white;
}
  $tittlesFonts: "Roboto Condensed", sans-serif;
$contenidoFonts: "Roboto", sans-serif;
$contenido2: "Montserrat", sans-serif;
$otro: 'Lato', sans-serif;

section{
    .details{
        width: 80vw;
        margin: 0 auto;
        margin-top: 3em;
        display: grid;
        gap: 3px;
        grid-template-columns: 60% 40%;
        justify-content: center;
        font-family: $otro;
        .info{
            display: flex;
            flex-direction: column;
            gap: 2px;
            .box1{
                display: flex;
                justify-content: center;
                height: 45px;
                @include bordeBox();
                h3{
                    font-size: 20px;
                    margin: auto 0 ;
                }
            }
            .box2{
                @include bordeBox();
                height: auto;
                display: flex;
                justify-content: center;
                flex-direction: column;
                .info{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    padding: 20px 0;
                    .user{
                        padding: 20px;
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: center;
                        gap: 10px;
                        align-items: flex-start;
                        .card-user{
                            padding: 10px;
                            width: 250px;
                            border: solid 1px;
                            border-style: dashed;
                            height: 120px;
                            max-height: 120px;
                            .header{
                                text-align: left;
                                display: flex;
                                justify-content: flex-start;
                                align-items: center;
                                gap: 2px;
                                span{
                                    font-size: 17px;
                                }
                                .icon{
                                    font-size: 25px;
                                }
                            }
                            ul{
                                list-style: none;
                                padding: 0 0 0 5px;
                                margin: 0;
                                li{
                                    line-height: 20px;
                                }
                            }
                        }
                        .adrres-user{
                            padding: 10px;
                            width: 200px;
                            border: solid 1px;
                            border-style: dashed;
                            height: 120px;
                            max-height: 120px;
                            .header{
                                font-family: $otro;
                                text-align: left;
                                display: flex;
                                justify-content: flex-start;
                                align-items: center;
                                gap: 2px;
                                span{
                                    font-size: 17px;
                                }
                                .icon{
                                    font-size: 25px;
                                }
                            }
                            ul{
                                list-style: none;
                                padding: 0 0 0 5px;
                                margin: 0;
                                li{
                                    line-height: 20px;
                                }
                            }
                        }
                        .total{
                            padding: 10px;
                            width: 200px;
                            border: solid 1px;
                            border-style: dashed;
                            height: 120px;
                            max-height: 120px;
                            margin: 0;
                            gap: 10px;
                            display: flex;
                            align-items: center;
                            flex-direction: column;
                            span{
                                font-size: 14px;
                            }
                           
                        }
                    }
                }
            }
            .metodos-pago{
                font-size: 20px;
                display: flex;
                justify-content: center;
                gap: 20px;
                flex-direction: column;
                align-items: center;
                padding: 20px 0;
                h4{
                    font-size:$tittlesFonts;
                }
                div{
                    display: flex;
                    gap: 20px;
                    .btn-pago{
                        background-color: #243a5e;
                        border-radius: 20px;
                        padding:  5px 15px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        cursor: pointer;
                        gap: 0;
                        .icon{
                            color: white;                            
                            font-size: 30px;
                            margin: -10px 0 0 -5px;
                        }
                        .btn{
                            font-size: 13px;
                            background-color: #243a5e;
                            border: none;
                            text-transform: uppercase;
                        }
                    }
                    .mercado-pago{
                        background-color: #00bbfe;
                        .btn{
                            background-color:#00bbfe;
                        }
                        .icon{
                            margin: 0;
                        }
                    }
                   
                  
                   
                }
                
            }
        }
        .summary{
            display: flex;
            flex-direction: column;
            gap: 2px;
            .box3{
                display: flex;
                justify-content: center;
                height: 45px;
                @include bordeBox();
                h3{
                    font-size: 20px;
                    margin: auto 0 ;
                }
            }
            .box4{
                max-height: 355px;
                overflow-y:auto ;
                padding: 20px;
                height: 355px;
                @include bordeBox();
                .card-product{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    list-style: none;
                    padding: 0;
                    li{
                        font-size: 12px;
                        padding: 0;
                        list-style: none;
                        margin: 0;
                        display: flex;
                    }
                    .img-car-shop{
                        width: 5em;
                        height: 5em;
                    }
                }
               
               
            }
        }
         
        
    }
   
   
}
.modal-content{
    padding: 10px ;
    .content-use{
        font-family: $otro;
        padding: 0 20px;
        h4{
            font-size: 18px;
            font-weight: 600;
            font-family: $tittlesFonts;
            color: #243a5e;
        }
        ul{
            margin: 15px 0;
        }
        li{
            font-size: 15px;
            line-height: 18px;
            padding: 10px 0;
        }
        .buttons-content{
            display: flex;
            gap: 5px;
            justify-content: space-between;
            .btn{
                font-size: 13px;
                width: 50%;
            }
        }

    }
   
   
}

@media (min-width: 900px) and (max-width: 1240px) {
    section{
        .details{
          width: 95vw;
          grid-template-columns: 50% 50%;
          .info{
              .box2{
                  .info{
                      .user{
                         display: flex;
                         justify-content: center;
                         .adrres-user{
                            width: 300px;
                         }
                         .total{
                            width: 300px;
                         }
                      } 
                  }
              }   
          }
            .summary{
              .box4{
                  .card-product{
                      .img-car-shop{
                          width: 4em;
                      }
                      .data-products{
                          padding-left: 5px;
                      }
                  }
              }
             
            }
        }
      }
    
}


@media (min-width:  768px) and (max-width: 900px) {
    section{
        .details{
            background-color: aqua;
          width: 95vw;
          grid-template-columns: 50% 50%;
          .info{
              .box2{
                  .info{
                      .user{
                         display: flex;
                         justify-content: center;
                         .adrres-user{
                            width: 300px;
                         }
                         .total{
                            width: 300px;
                         }
                      } 
                  }
              }   
          }
            .summary{
              .box4{
                  .card-product{
                    justify-content: flex-start;
                    gap: 10px;
                    align-items: flex-start;
                      .img-car-shop{
                          width: 5em;
                      }
                      .data-products{
                          padding-left: 5px;
                      }
                  }
              }
             
            }
        }
      }
}

@media (min-width:  300px) and (max-width: 768px) {
    section{
        margin-top: -4em;
        .details{
          width: 95vw;
          grid-template-columns: 1fr;
          .info{
              .box2{
                  .info{
                      .user{
                         display: flex;
                         justify-content: center;
                         .adrres-user{
                            width: 250px;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                         }
                         .total{
                            width: 250px;
                         }
                      } 
                  }
              }   
              .metodos-pago{
                  div{
                    flex-direction: column;
                    .btn-pago-recibir{
                        flex-direction: row;
                        .btn{
                            font-size: 11px;
                        }
                        .icon{
                            font-size: 25px;
                            cursor: pointer;
                        }
                    }
                }
              }
          }
            .summary{
              .box4{
                  .card-product{
                      .img-car-shop{
                          width: 4em;
                      }
                      .data-products{
                          padding-left: 5px;
                      }
                  }
              }
             
            }
        }
      }
}

