

@mixin parrafos-generales {
    font-size: 15px;
    font-family: $contenidoFonts;
  }
  
  @mixin titulos-generales {
    font-family: $tittlesFonts;
    font-size: 30px;
    color: #213C65;
    font-weight: 600;
  }
  
  @mixin subtitulos-generales {
    font-size: 25px;
    font-family: $tittlesFonts;
    color: #213C65;
  }
  
  @mixin backgroundSectionAdmin {
    margin-top: 3em;
    background-color: #f4f4f4;
  }

$tittlesFonts: "Roboto Condensed", sans-serif;
$contenidoFonts: "Roboto", sans-serif;
$contenido2: "Montserrat", sans-serif;




.container-recovery{
    padding-top: 7em;
    margin: 0 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .text-page-recovery-password{
        font-family: $tittlesFonts;
        color: #213C65;
        font-size: 23px;
        font-size: 25px;
        text-align: center;
    }
    .text-recovery-label{
        text-align: center;
        font-size: 17px;
        margin: 1em 0 1em -15px;
        font-family: $contenidoFonts;
    }
     .list-indications-recovery-password{
            list-style: none;
            align-self: center;
        .check{
            margin-right: 5px;
            color: #213C65;
        }
         li{
            font-size: 15px;
            font-family: $contenidoFonts;
        }
    }


   
    .form-recovery{
        width: 650px;
        max-width: 700px;
        .text-muted{
            font-size: 13px;
            color: #213C65;
            font-family: $contenidoFonts;
        }

        .btn-recovery-password{
            float: right;
            width: 100%;
            margin-top: 15px;
        }

    }
   
    
    
}




@media screen and (max-width:  769px){
    .nav-custom{
        .nav-link-custom{
            padding: 10px;
        }
    }
    .container-recovery{
        margin: 0;
        .text-page-recovery-password{
            font-size: 17px;
        }
        .text-recovery-label{
            font-size: 13px;
            margin: 20px auto;
        }
        .list-indications-recovery-password{
           li{font-size: 13px};
        }
        .form-recovery{
            width: 440px;
            font-size: 13px;
        }
        .btn-recovery-password{
            font-size: 12px;
        }
    }
 
    
    
}
   


@media screen and (max-width: 420px) {
    .nav-custom{
        .nav-link-custom{
            padding: 10px;
        }
    }
    .container-recovery{
        margin: 0;
        .text-page-recovery-password{
            font-size: 20px;
        }
        .text-recovery-label{
            font-size: 14px;
        }
        .list-indications-recovery-password{
           li{font-size: 12px};
        }
        .form-recovery{
            width: 340px;
            font-size: 12px;
        }
        .btn-recovery-password{
            font-size: 12px;
        }
    }
}