


@mixin bordeBox{
    border: solid 1px #ebebeb ;
    box-shadow: 0 0 5px  rgba(84, 84, 84, 0);
    box-sizing: border-box;
}
  


$tittlesFonts: "Roboto Condensed", sans-serif;
$contenidoFonts: "Roboto", sans-serif;
$contenido2: "Montserrat", sans-serif;

.MuiTypography-root{
    ol li a{
        list-style: none;
        text-decoration: none;
    }
}
.icon-container {
    position: fixed;
    left:20px; 
    top: 85%; 
    z-index: 1000; 
    padding: 20px;
    animation: jumpingCar 0.7s infinite alternate;
  .icon-car {
    padding: 7px;
    width: 50px;
    position: relative;
    height: 50px; 
    border-radius: 50%;
    background-color: blue; 
    color: white;
    cursor: pointer;
   }
   .insignia{
    position: absolute;
    z-index: 1;
    top: 0;
    right: 30px;
    border-radius: 50%;
    padding: 0 7px;
    background-color: rgb(240, 0, 0);
    color: white;
   }
   
  @keyframes jumpingCar {  
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-8px); 
    }
    100% {
        transform: translateY(0);
    }
  }
}
.migajas{
    display: flex;
    align-items: center;
    padding-left: 4em;
    .icon{
        font-size: 25px;
    }
}
.container-productos{
    font-family: $contenidoFonts;
    width: 90vw;
    margin:auto;
    h1{
        margin-top: 1em;
        font-size: 25px;
        text-align: center; 
        font-family: $tittlesFonts;
        color: #213C65;;
    }
    p{
        text-align: center;
        margin: 0;
        font-size: 14px;
    }
    .contenedor-grid-products{
        grid-template-columns: 0.7fr 3.3fr;
        grid-template-areas: 
        'filter header header'
        'filter cards cards'
        'filter cards cards'
        'filter cards cards';
        display: grid;
        gap: 10px;
        margin-top: 2em;
        .filtros{
            grid-area: filter;
            display: flex;
            gap: 10px;
            flex-direction: column;
            justify-content: right;
            @include bordeBox();
            background-color: white;
            padding: 10px;
            height: auto;
            max-height: 500px;
            .accordion-button{
                border-radius: 1px;
                font-size: 14px;
            }
            select{
                border-radius: 1px;
            }
            .form-select{
                font-size: 13px;
            }
            
           
        }
        .header{
            display: none;
            grid-area: header;
            height: 45px;
            @include bordeBox();
            background-color: white;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 20px;
           
            .select{
                height: 35px;
                border-radius: 1px;
                cursor: pointer;
                font-size: 14px;
            }
            .mobile-select{
                display: none;
                background-color: #213C65;
               select{
                height: 35px;
                border-radius: 1px;
                cursor: pointer;
                font-size: 14px;
               }
            }
            .count-products{
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 5px;
                .count{
                    display: block;
                    span{
                        border: solid 1px;
                        background-color: #213C65;
                        color: white;
                        border-radius: 50%;
                        font-size: 14px;
                        padding: 2px 5px ;
                    }
                }
            }
        }
        .header-hidden{
            display:none ;
        }
        .contenedor-card{
            grid-area: cards;
            display: flex;
            flex-wrap: wrap;
            column-gap: 10px;
            height: auto;
            width: 100%;
            justify-content: start ;
            gap: 10px;
            font-family: $contenidoFonts;
            p{
                text-align: center;
                font-size: 20px;
                color: rgb(88, 88, 88);
                opacity: 80%;
                margin: auto;
            }
            .empty-filter{
                font-size: 26px;
                opacity: 50%;
                margin: auto;
                text-align: center;
            }
            .text-ref{
                font-size: 10px;
                margin: 0;
                opacity: 70%;
                display: block;
                align-self: flex-start;
            }
            .card-products{
                display: flex;
                font-size: 14px;
                padding: 6px;
                flex-direction: column;
                justify-content: space-between;
                max-width: 17em;
                width: 15.6em ;
                height: auto;
                text-align: center;
                align-items: center;
                list-style: none;
                margin: 0;
                cursor: pointer;
                transition: all ease 0.3s;
                @include bordeBox();
                background-color: white;
                .text{
                    font-size: 13px;
                    text-align: center;
                    list-style: none;
                }
                .img-products{
                    width: 10em;
                }
               
                .contenido-card{
                    .title{
                        font-weight: bold;
                        font-size: 11px;
                        opacity: 90%;
                        margin: 3em 0 5px 0;
                        color: rgb(63, 63, 63);
                    }
                    .text{
                        line-height: 17px;
                    }
                    .valor{
                        font-size: 15px;
                        font-weight: 500;
                        margin: 1em 0;
                    }
                    .unidad{
                        position: relative;
                        .number{
                            position: absolute;
                            font-size: 10px;
                        }

                    }
                   
    
                }
                .btn{
                        margin: 10px 0;
                }
                &:hover{
                    box-shadow: 0 0 5px 1px rgb(201, 201, 201)  ;
                }   
                
            }
           
    
              
            
        }
    }
   
   
}

@media (min-width: 800px) and (max-width: 1400px){
    .migajas{
        margin-top: -3em;
    }
    .container-productos{
        width: 93vw;
    }
}


@media (min-width: 300px) and (max-width: 499px) {
    .migajas{
        padding-left:1em ;
    }
    .container-productos{
        h1{
            font-size: 18px;
        }
        p{
            line-height: 16px;
            font-size: 13px;
        }
        .contenedor-grid-products{
            grid-template-columns: 1fr ;
            grid-template-areas: 
            'header header header header'
            'cards cards  cards cards'
            'cards cards  cards cards'
            'cards cards  cards cards'
            ;
            .filtros{
             display: none;
            }
            .header{
                font-size: 10px;
                height: 50px;
                width: 100%;
                margin: auto;
                justify-content: center;
                gap: 10px;
                display: flex;
                justify-content: space-between;
                padding: 0 5px;
                margin: auto;
                select{
                    width:140px;
                    font-size: 11px;
                }
                .mobile-select{
                    display: block;
                    font-size: 11px;
                   select{
                    width:165px;
                   }
                }
                span{
                    display: none;
                }
                p{
                    display: none;
                }
             
            }
            .header-hidden{
                display:block ;
            }
            
            
            .contenedor-card{
                padding: 5px;
                justify-content: center;
                .card-products{
                    width: 11em !important;
                    height: auto;
                    margin: 0;
                    padding: 5px 10px;
                    .text-ref{
                        font-size: 10px;
                    }
                    
                    .img-products{
                        width: 4rem;
                    }
                    .contenido-card{
                        .title{
                            font-size: 12px;
                        }
                        .text{
                            font-size: 10px;
                        }
                        .unidad{
                            font-size: 12px;
                        }

                        
                    }
                    .btn-primary{
                        width: 100%;
                        font-size: 10px;
                        margin: -12px 0 10px 0 ;
                        padding: 5px 10px;
    
                    }
                }
            }
          
        }
        
    }
   

.offcanvas-body{
    .menu-container{
        .menu-item{
            .submenu{
                ul a{
                    list-style: none;
                    text-decoration: none;
                    color: black;
                }
                li{
                    list-style: none;
                    padding: 0;
                    margin: 0;
                   
                }
            }
        }
    }
   
}
}