$tittlesFonts: "Roboto Condensed", sans-serif;
$contenidoFonts: "Roboto", sans-serif;
$contenido2: "Montserrat", sans-serif;
$otro: 'Lato', sans-serif;




.conatanier-balans-dahsboard{
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 20px;
    .balans-cards-header{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(17em, 1em));      
        gap: 20px;
        padding: 20px 0;
        place-content: center;
        .card{
            width: 17em;
            height: 9em;
            padding: 10px;
            display: flex;
            justify-content: space-between;
            border: none;
            box-shadow: 0 0 5px rgb(239, 239, 239);
            border-radius: 12px;
            transition: all ease 0.2s;
            .title{
                font-size: 15px;
                font-style: normal;
                font-weight: 500;
                margin: 0 0 10px 10px;
                font-family: $otro;
            }
            .body{
                display: flex;
                justify-content: space-between;
                align-items: center;
                span{
                    margin-left: 10px;
                    font-weight: bold;
                    font-size: 30px;
                }
                .icon-content{
                    background-color: aqua;
                    border-radius: 25px;
                    padding: 12px;
                    margin-right: 10px;
                    .icon{
                        font-size: 25px;
                    }
                }
                .f-ci1 {
                    background-color: rgb(228, 198, 249);
                    .f-i1{
                        color: rgb(137, 0, 137);
                    }
                }
                .f-ci2 {
                    background-color: rgb(247, 244, 166);
                    .f-i2{
                        color: rgb(237, 178, 89);
                    }
                }
                .f-ci3 {
                    background-color: rgb(180, 235, 170);
                    .f-i3{
                        color: rgb(16, 91, 8);
                    }
                }
                .f-ci4 {
                    background-color: rgb(251, 221, 185);
                    .f-i4{
                        color: rgb(226, 13, 13);
                    }
                }
                .f-ci5 {
                    background-color: rgb(134, 158, 236);
                    .f-i5{
                        color: rgb(29, 17, 142);
                    }
                }
            }
           
            .text-footer-card{
                font-size: 11px;
                margin: 0 0 0 10px;
                color: #7f7f7f;

            }
            &:hover{
                box-shadow: 0 0 5px rgb(216, 216, 216);
            }
        }
    }
    .balans-body-table{
        h2{
            margin-left: 25px;
            font-weight: bold;
            font-family: $tittlesFonts;
            font-style: normal;
        }
        .balans-table{
            margin: auto;
            height: auto;
            padding: 20px;
            background-color: white;
            border-radius: 10px;
            width: 97%;
            .recharts-text {
                color: red !important;
                font-size: 8px !important;
            }
        
        }
    }
}