$tittlesFonts: "Roboto Condensed", sans-serif;
$contenidoFonts: "Roboto", sans-serif;
$contenido2: "Montserrat", sans-serif;
$otro: 'Lato', sans-serif;


@mixin bordeBox {
    border: solid 1px #acacac;
    box-shadow: 0 0 5px rgba(84, 84, 84, 0);
    box-sizing: border-box;
}

.outline-content{
    margin: 2em 0 0 0;
    .icon{
        font-size: 50px;
        cursor: pointer;
        &:hover{
            color: #213C65;
        }
    }
    
}

.contenedor-orders-user {
    margin: 4em auto 0 auto;
    gap: 1em;
    display: flex;
    flex-direction: column;
    padding: 10px;
    flex-wrap: wrap;
   
    .header{
        justify-content: center;
        display: flex;
        align-items: center;
        h1 {
            text-align: center;
            font-family: $tittlesFonts;
            font-weight: bold;
        }
    }

    p {
        margin: 0;
        font-size: 14px;
        font-family: $otro;
    }
    strong{
        font-weight: bold;
    }
    h2 {
        font-weight: bold;
        font-family: $tittlesFonts;
    }

    h3 {
        font-weight: bold;
    }

    .order {
        font-family: $contenidoFonts;
        padding: 10px;
        border: solid 1px;
        @include bordeBox();
        background-color: #f4f4f4;
        .info-user {
            display: flex;
            justify-content: space-around;
            border: 1px;
            padding: 10px ;
            border-style: dashed;
            background-color: white;
        }

        .container-product {
            border: 1px;
            gap: 10px;
            padding: 10px;
            display: flex;
            border-style: dashed;
            background-color: white;

            .products-datails {
                justify-content: center;
                align-items: center;
                box-shadow: 0 0 7px 1px rgb(228, 228, 228);
                padding: 10px 7px;
                font-size: 12px;
                display: flex;
                flex-direction: column;

                p {
                    font-size: 12px !important;
                }

                img {
                    width: 7em;
                }

            }
        }

        .select-estado {
            display: flex;
            gap: 10px;
            justify-content: end;
            align-items: center;
            padding: 10px;

            select {
                padding: 8px;
            }
        }  
    }
    .loader-details{
        font-size: 20px;
        text-align: center;
        font-weight: bold;
    }
}



// /* Estilos para dispositivos de 300px a 499px */
@media (min-width: 300px) and (max-width: 499px) {
    .outline-content{
        padding: 0 1em;
    }
    .contenedor-orders-user {
        margin-left:35px;
        .header{
            .icon{
                font-size: 30px;
            }
            h1 {
                font-size: 16px !important;
            }
        }
        .order{
            width: 300px;
            margin: auto;
            .info-user{
                flex-direction: column;
            }
            .select-estado{
                select{
                    width: 150px;
                    font-size: 10px;
                }
                .btn{
                    font-size: 10px;
                    padding: 6px 6px;
                }
                p{
                    font-size: 10px;
                }
            }
    
        }


    }
  
}

/* Estilos para dispositivos pequeños */
@media (max-width: 768px) {
    .contenedor-orders-user {
        margin-left:35px;
        .header{
            .icon{
                font-size: 35px;
            }
            h1 {
                font-size: 19px !important;
            }
        }


    }
}

/* Estilos para dispositivos medianos */
@media (min-width: 769px) and (max-width: 1024px) {
}