$tittlesFonts: "Roboto Condensed", sans-serif;
$contenidoFonts: "Roboto", sans-serif;
$contenido2: "Montserrat", sans-serif;




body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scrollbar-width: none !important;
  overflow-y: none !important;
}

h1 {
  font-size: 20px !important;
}

h2 {
  font-size: 19px !important;
}

h3 {
  font-size: 18px !important;
}

a {
  text-decoration: none !important;
  color: black;
}

p {
  font-family: $contenido2;
}


/* La barra de desplazamiento completa */
::-webkit-scrollbar {
  width: 10px;
}

/* El "track" de la barra de desplazamiento */
::-webkit-scrollbar-track {
  background: #ececec;
  border-radius: 10px;
}

/* El pulgar (thumb) de la barra de desplazamiento */
::-webkit-scrollbar-thumb {
  background: #d0d0d0;
  border-radius: 10px;
  height: 10px;
}

/* El pulgar (thumb) cuando esté en hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


// insignia del car en las paginas
.icon-container {
  position: fixed;
  left: 20px;
  top: 85%;
  z-index: 1000;
  padding: 20px;
  animation: jumpingCar 0.7s infinite alternate;

  .icon-car {
    padding: 7px;
    width: 50px;
    position: relative;
    height: 50px;
    border-radius: 50%;
    background-color: blue;
    color: white;
    cursor: pointer;
  }

  .insignia {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 30px;
    border-radius: 50%;
    padding: 0 7px;
    background-color: rgb(240, 0, 0);
    color: white;
  }

  @keyframes jumpingCar {
    0% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-8px);
    }

    100% {
      transform: translateY(0);
    }
  }
}

// icono de whatsapp
.cotainer-btn-whatsapp {
  position: fixed;
  right: 20px;
  top: 85%;
  z-index: 1000;
  padding: 20px;

  .content {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    position: relative;
    border-radius: 50%;
    background-color: rgb(37, 211, 102);
    box-shadow: 0 0 10px 1px rgb(206, 206, 206);
    .icon {
      font-size: 40px;
      color: white;
    }

  

  }

 
  .content-num {
    position: absolute;
    top: 10px; 
    z-index: 2;
    right: 18px; 
    background-color: red; 
    color: white; 
    border-radius: 50%;
    padding: 2px 7px; 
    font-size: 0.75rem; 
    font-weight: bold; 
    .content-num span {
      display: block;
      text-align: center;
    }
  }
 

}

// notifications en las pages

.container-notification {
  position: fixed;
  top: 17%;
  right: -15px;
  z-index: 1000;
  padding: 20px;
  color: white;
}

// Loader en componentes
.container-loader-component {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  span {
    font-size: 14px;
    color: #213C65;
    font-weight: 500;
  }

  .spinner-border-sm {
    width: 25px;
    height: 25px;
  }
}

.container-loader-page {
  position: fixed;
  top: 50%;
  text-align: center;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;

  .spiner-page {
    align-self: center;
  }

  span {
    font-weight: 800;
    font-size: 25px;
    font-family: $contenidoFonts;
    color: #213C65;
  }
}




// /* Estilos para dispositivos de 300px a 499px */
@media (min-width: 300px) and (max-width: 499px) {
  .cotainer-btn-whapsapp {
    right: 20px;
  
  }
}

/* Estilos para dispositivos pequeños */
@media (max-width: 768px) {

}