$tittlesFonts: "Roboto Condensed", sans-serif;
$contenidoFonts: "Roboto", sans-serif;
$contenido2: "Montserrat", sans-serif;



.page-info{
    font-family: $contenidoFonts;
    padding: 1em 2em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 90%;
    margin: auto;
    h1{
        text-align: center;
        font-weight: bold;
        text-transform: uppercase;
         color: #333;;
    }
    h2{
        font-weight: bold;
        text-transform: uppercase;
        color: #333;;

    }
    h3{
        font-weight: 600;
        font-size: 17px  !important;
        color: #333;;

    }
   
    li{
        line-height: 1.3;
        font-size: 16px;
        color: #6B6C6D;
        text-wrap: wrap ;
    }
    p{
        color: #6B6C6D;
        line-height: 1.2;
    }
}


/* Estilos para dispositivos de 300px a 499px */
@media (min-width: 300px) and (max-width: 499px) {
    .page-info{
        margin-top: -2em;
        gap: 2em;
        h1{
            font-size: 20px !important; 
        }
        h2{
            font-size: 17px !important;
        }
        h3{
            font-size: 15px !important;
        }
       
        p{
            font-size: 14px;
        }
        li{
            font-size: 14px ;
        }
    }
}
