@mixin bordeBox {
    border: solid 1px #ebebeb;
    box-shadow: 0 0 5px rgba(84, 84, 84, 0);
    box-sizing: border-box;
    background-color: white;
}


$tittlesFonts: "Roboto Condensed", sans-serif;
$contenidoFonts: "Roboto", sans-serif;
$contenido2: "Montserrat", sans-serif;


$color-principal: #243a5e;
$color-complementario: #f2efe1;

// pagina de listar productos en admin --- inventario 
.body-content {
    .body-components-inventary {
        background-color: #f4f4f4;
        padding: 10px 0 0 0;
        display: flex;
        width: 100%;
        margin: auto ;
        justify-content: center;
        align-items: center;
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-template-areas:
            'filtros filtros filtros filtros'
            'contenido contenido contenido contenido'
            'contenido contenido contenido contenido'
            'contenido contenido contenido contenido';
        grid-row: auto auto auto;

        .filtros-content {
            grid-area: filtros;
            width: 100%;
            align-items: center;
            justify-content: flex-end;
            display: flex;
            padding-right: 4em;
            .filtros {
                display: flex;
                flex-direction: row;
                gap: 20px;
                margin-bottom: 1em;
                padding-right: 2.1em;
                .f-select {
                    height: 38px;
                    width: 200px;
                    border-radius: 1px;
                    margin-top: 0 !important;
                    max-width: 400px;
                }

                .form-select {
                    height: 40px;
                    width: 200px;
                    border-radius: 1px;
                    max-width: 400px;
                }
            }

        }

        .contenedor-inventario {
            grid-area: contenido;
            justify-content: flex-start;
            row-gap: 10px;
            column-gap: 10px;
            flex-wrap: wrap;
            padding: 10px;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(620px, 1fr));

            .chage-text{
                text-align: center;
                font-size: 19px;
            }
            .contenedor-det-img {
                display: flex;
                justify-content: space-between;
                gap: 30px;
            }

            .card-products-inventario {
                @include bordeBox();
                font-family: $contenido2;
                display: flex;
                align-items: center;
                padding: 20px;
                flex-direction: column;

                .content-img {
                    display: flex;
                    flex-direction: column;
                    max-width: 300px;
                    text-align: left;

                    img {
                        width: 14em;
                    }

                    .nombre {
                        line-height: 18px;
                        font-size: 14px;
                    }
                }

                .details {
                    line-height: 17px;
                    max-width: 450px;
                    display: flex;
                    flex-direction: column;
                    font-size: 14px;

                    strong {
                        font-size: 14px;
                        margin: 2px 0;

                    }

                    p {
                        font-size: 13px;
                        text-align: left;
                        margin: 0;
                    }
                }

            }

            .container-btn {
                display: flex;
                gap: 20px;
                background-color: #f4f4f4 !important;
                margin: 1em 0;
                @include bordeBox();
                padding: 10px;
            }




            // @media screen and (max-width: 1280px){
            //     .card-products-inventario{
            //         display: flex;
            //         width: 18em;
            //     }

            // }

        }

        // @media screen and (max-width: 1280px) {
        //     .contenedor-inventario{
        //         display: flex;
        //         justify-content: center;
        //     }
        // } 

    }
}

.modal-content{
    z-index: 2;
    margin-top: 5em;
}

.modal-edit-inventary {
    .modal-title {
        font-family: $tittlesFonts;
        font-size: 20px;
        font-weight: bold;
    }

    .modal-body-editar-inventary {
        p{
            line-height: 17px;
            font-family: $contenidoFonts;
            margin: 0;
            font-size: 14px;
        }


    }
    .modal-footer{
        .btn{
            width: 100%;
        }
    }

}

.modal-update-inventory-products {
    .title-modal-update {
        font-family: $tittlesFonts;
        font-size: 20px;
        font-weight: bold;
    }

    .modal-body-update-inventory {
        font-family: $contenidoFonts;
      

        p{
            margin: 0;
            line-height: 17px;
            font-size: 14px;
            text-wrap: wrap;
        }

       

        form {
            textarea {
                height: 200px;
                font-size: 14px;
            }

            .btn-custom {
                float: right;
            }
        }


    }
    .btn{
        width: 100%;
    }

}


.modal-delete-inventary {
    font-family: $contenidoFonts;
    .modal-body-delete-inventary {
        display: flex;
        flex-direction: column;
    }

    .title-delete-modal {
        margin: auto;
        font-size: 20px;
        font-weight: bold;
        font-family: $tittlesFonts;
    }

    .icon-warning-modal-delete {
        width: 100px;
        margin: auto;
        height: 100px;
        color: red;
    }

    span {
        text-align: center;
        font-size: 11px;
        margin-bottom: 1em;
        color: rgb(246, 24, 12);
        text-transform: uppercase;
    }

    .warning {
        font-size: 14px;
        font-weight: 500;
        margin: 0 20px 10px;
        line-height: 19px;
        text-wrap: wrap;
        margin: 0;
    }
    .modal-footer{
        .btn{
            width: 100%;
        }
    }

    strong {
        color: black;
    }
}