$tittlesFonts: "Roboto Condensed", sans-serif;
$contenidoFonts: "Roboto", sans-serif;
$contenido2: "Montserrat", sans-serif;

@mixin bordeBox {
    border: solid 1px #dbdbdb;
    box-shadow: 0 0 5px rgba(133, 133, 133, 0);
    box-sizing: border-box;
    border-radius: 1px;
}

.layout-body-admin {
    width: 100vw;
    margin: 5em auto 0 auto;
    display: grid;
    grid-template-areas:
        'header header header header'
        'content content content content'
        'content content content content'
        'content content content content';
    grid-template-columns: repeat(4, 1fr);

    .header-admin {
        width: 100%;
        grid-area: header;
        text-align: center;
        display: flex;
        padding: 5px 0;
        justify-content: center;
        align-items: center;
        @include bordeBox();

        h1 {
            margin: 0;
            font-weight: bold;
            font-family: $tittlesFonts;
        }
    }

    .body-content {
        padding: 0;
        grid-area: content;
        @include bordeBox();
        height: auto ;
    }
}



// /* Estilos para dispositivos de 300px a 499px */
@media (min-width: 300px) and (max-width: 499px) {
    .section-admin {
        margin-top: 3em !important;
    }

    .MuiPaper-root{
        background-color: #243a5e;
    }

    .layout-body-admin {
        .body-content {
            margin: auto;
            width: 100%;
            .container-data-users .table-user{
                font-size: 8px;
                overflow: auto;
                width: 100%;
            }
            .container-cards-home-admin {
                display: flex;
                .box-rutas-admin{
                    margin: auto;
                }
            }
            .layout-crear-productos  {
                padding: 0 !important;
                grid-template-columns: 1fr;
                flex-direction: column;

                .btn-save{
                    .btn{
                        font-size: 12px;
                    }
                }
            }

            .body-components-inventary {
                display: flex;
                flex-direction: column;

                .filtros-content {
                    padding: 0;
                    width: 50%;
                    justify-content: center;

                    .filtros .form-select {
                        width: 100px;
                    }
                }

                .contenedor-inventario {
                    display: flex;

                    .container-btn {
                        .btn {
                            font-size: 8px;
                        }
                    }

                    justify-content: center;

                    .card-products-inventario {
                        width: 250px;

                        .content-img {
                            align-items: center;
                        }

                        .contenedor-det-img {
                            flex-direction: column;

                            img {
                                width: 8em;
                            }
                        }
                    }
                }
            }

            .container-ofertas{
                padding: 0 5px;
                .section-add-ofertas .add-ofertas{
                    font-size: 12px;
                    padding: 0;
                    h3{
                        margin:0;
                        padding: 0;
                    }
                    p{
                        margin: 10px 0;
                    }
                    .container-popover{
                        .btn{
                            font-size: 12px;

                        }
                    }
                    .container-btn-ofertas{
                        .btn{
                            font-size: 12px;
                        }
                    }

                }
                .section-listado-ofertas .accordion-body{
                    padding: 10px;
                    .body-ofertas-acordeon{
                        gap: 0;
                        flex-direction: column;
                        .oferta-informacion p{
                            margin: 0;
                        }
                        .productos-de-la-oferta{
                            h5{
                                margin: 0;
                            }
                        }
                        .content-buttons-section{
                            gap: 5px;
                            .btn{
                                font-size: 10px;
                            }
                        }
                    }
                } 
            }
            .categorias{
                display: flex;
                flex-direction: column;
                .body-category{
                    padding: 10px;
                    width: 270px;
                    .input-category{
                        width: 100%;
                    }
                    .btn{
                        width: 100%;
                    }

                }
            }

        }




    }


}

/* Estilos para dispositivos pequeños */
@media (max-width: 768px) {
    .section-admin {
        margin-top: 3em !important;
    }

    .layout-body-admin {
        .body-content {
            .container-cards-home-admin .box-rutas-admin {
                padding: 0;

                .link-box {
                    width: 15em;
                    height: 14em;
                }
            }


            .layout-crear-productos {
                grid-template-areas: 'sidebar sidebar '
                    'content content '
                ;
                grid-template-columns: 1fr;

                .text-shadow {
                    font-size: 8px;
                    text-align: left;
                }

                .sidebar {
                    justify-self: center;
                    width: 100%;
                    padding: 1em 0;

                    .add {
                        padding: 10px;
                        margin: 0;
                    }

                    .custom-file-upload {
                        font-size: 12px;
                        text-align: center;

                        .uploap {
                            width: 17px;
                        }
                    }

                    .container-btn-save {
                        padding: 10px 0;
                    }

                }

                .content {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    padding: 1em 0;

                    .container-card .productos-cards {
                        width: 15em;
                    }
                }
            }


            .body-components-inventary {
                display: flex;
                flex-direction: column;
                .filtros-content {
                    padding: 0;
                    justify-content: center;
                    .filtros {
                        padding: 0;
                        margin: 0;
                        .form-select {
                            width: 100px;
                            font-size: 10px;
                        }
                    }
                }

                .contenedor-inventario {
                    display: flex;
                    justify-content: center;

                    .container-btn {
                        .btn {
                            font-size: 8px;
                        }
                    }


                    .card-products-inventario {
                        width: 260px;
                        .content-img {
                            align-items: center;
                        }

                        .contenedor-det-img {
                            flex-direction: column;

                            img {
                                width: 8em;
                            }
                        }
                    }
                }
            }


            .container-ofertas{
                flex-direction: column;
                display: flex;
                .section-add-ofertas{
                    width: 100%;
                    justify-content: center;
                    align-items: center;
                    display: flex;
                    margin-top: 20px;
                }
            }

           

            

        }


    }
}

/* Estilos para dispositivos medianos */
@media (min-width: 769px) and (max-width: 1024px) {
}