




  @mixin bordeBox {
    border: solid 1px #e3e3e3;
    box-shadow: 0 0 5px rgba(84, 84, 84, 0);
    box-sizing: border-box;
    background-color: #fefefe;
  }


$tittlesFonts: "Roboto Condensed", sans-serif;
$contenidoFonts: "Roboto", sans-serif;
$contenido2: "Montserrat", sans-serif;




.container-recovery{
    margin: 0 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    font-family: $contenidoFonts;
    h1{
        font-family: $tittlesFonts;
        font-size: 20px !important;
        text-align: center;
    }
    h2{
        text-align: center;
        font-size: 17px !important;
        margin: 1em 0 1em -15px;
        
    };
    ul{
        list-style: none;
        align-self: center;
        .check{
            margin-right: 5px;
            color: #213C65;
        }
         li{
            font-size: 15px;
            font-family: $contenidoFonts;
        }
    }
    
   


   
    .form-recovery{
        width: 650px;
        max-width: 700px;
        .text-muted{
            font-size: 13px;
            color: #213C65;
            font-family: $contenidoFonts;
        }

        .btn-recovery-password{
            float: right;
            width: 100%;
            margin-top: 15px;
        }

    }
   

    .form-recover-password{
        margin: 1em 0 0 0;
        padding: 2em 2em 4em 2em;
       
        @include bordeBox();
        h1{
            font-weight: 600;
            text-align: center;
            font-family: $tittlesFonts;
        }
        p{
            line-height: 21px;
        }
        .form-control{
            padding: .5rem;
        }
        .container-request{
            text-align: center;
            transition: all ease 0.3s;
            max-width: 600px;
            a{
                font-weight: 600;
            }
            p{
                font-size: 16px;
                line-height: 18px;
                text-wrap: wrap;
                margin: 1em 0 2em 0;
            }
            a:hover{
                color: #20539e;

            }
        }
        
    }
    
    .container-response{
        @include bordeBox();
        padding: 2em 2em 4em 2em;
        text-align: center;
        h1{
            font-weight: 600;
        }
        a{
            text-align: center;
        }
    }
    
}




@media screen and (max-width:  769px){
    .container-recovery{
        margin: 0;
        margin-top: -4em;
        .text-page-recovery-password{
            font-size: 17px;
        }
        .text-recovery-label{
            font-size: 13px;
            margin: 20px auto;
        }
        .list-indications-recovery-password{
           li{font-size: 13px};
        }
        .form-recovery{
            width: 440px;
            font-size: 13px;
        }
        .btn-recovery-password{
            font-size: 12px;
        }
    }
 
    
    
}
   


@media screen and (max-width: 420px) {
    .container-recovery{
        margin: 0;
        margin-top: -5em;
        .text-page-recovery-password{
            font-size: 20px;
        }
        .text-recovery-label{
            font-size: 14px;
        }
        .list-indications-recovery-password{
           li{font-size: 12px};
        }
        .form-recovery{
            width: 340px;
            font-size: 12px;
        }
        .btn-recovery-password{
            font-size: 12px;
        }
    }
}