$tittlesFonts: "Roboto Condensed", sans-serif;
$contenidoFonts: "Roboto", sans-serif;
$contenido2: "Montserrat", sans-serif;
$otro: 'Lato', sans-serif;

@mixin bordeBox {
    border: solid 1px #ebebeb;
    box-shadow: 0 0 5px rgba(84, 84, 84, 0);
    box-sizing: border-box;
}

// pedidos y perfil de usuario 

.modal-pedido {
    background-color: rgba(255, 255, 255, 0.2);

    .modal-content {
        padding: 10px;

        hr {
            margin: 10px 0 0 0;
        }

        .modal-body {
            font-family: $otro;
            display: block;
            line-height: 18px;

            p {
                margin: 0 0 10px 0;
            }

            .btn {
                margin: 10px 0 0 0;
                width: 100%;
            }

            .cancelar {
                background-color: #ebebeb;
            }
        }
    }
}

.main-pedidos {
    padding-top: 4em;
    display: grid;
    width: 90vw;
    margin: auto;
    grid-template-areas:
        'sidebar body body body'
        'sidebar body body body'
        'sidebar body body body'
        'sidebar body body body'
    ;
    grid-template-columns: 1fr 3fr;
    gap: 10px;
    flex-wrap: wrap;

    .sidebar {
        font-family: $otro;
        grid-area: sidebar;
        max-height: 300px;
        position: relative;
        height: 300px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .avatar {
            position: absolute;
            z-index: 2;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            top: -45px;

            .avatar-icon {
                width: 80px;
                height: 80px;
                box-shadow: 0 0 20px 1px rgb(193, 193, 193);
            }

        }

        .data {
            padding: 3em 0 0 0;
            width: 100%;
            justify-content: left;
            display: flex;
            flex-direction: column;

            h1 {
                font-size: 25px;
                font-family: $tittlesFonts;
                text-align: center;
            }

            h2 {
                font-size: 17px;
                text-align: center;
                font-weight: bold;
            }

            a {
                text-decoration: none;
                text-align: left;
                margin: 10px 0 3px 0;
                color: black;
            }

            .flex-column {
                width: 95%;
                transition: all ease 10s;

                a {
                    border: solid 1px;
                    border-radius: 2px;
                    padding: 10px 3px;
                    text-align: center;
                }

                .box-link .icon {
                    margin-right: 5px;
                    width: 18px;
                    height: 20px;
                    margin: -2px 5px 0 0;
                }

                .box-link:hover {
                    background-color: #446599;
                    color: white;
                }

                .logout .icon {
                    width: 20px;
                    height: 20px;
                    margin: -2px 2px 0 0;
                }

                .logout:hover {
                    color: white;
                    background-color: red;
                }
            }

            .box {
                max-width: 95%;
                background-color: #e0e0e0;
                font-style: italic;
                font-size: 10px;
                padding: 5px;

                p {
                    margin: 0;
                    padding: 0;
                    line-height: 13px;
                    color: #243a5e;
                }
            }

        }



    }

    .body {
        grid-area: body;
        height: auto;
        font-family: $contenidoFonts;
        padding: 20px;
        border: solid 1px #a3a1a1;

        h1 {
            font-size: 25px;
            font-weight: bold;
            font-family: $tittlesFonts;
        }

        .body-profile {
            padding: 2em 0 0 1em;

            .data-user {
                margin-top: 3em;
                height: auto;
                padding: 10px;

                .inp {
                    border-radius: 1px;
                    border: none;
                    background-color: #f8f8f8;
                }

                .info-user {
                    span {
                        color: #a3a1a1;
                        padding-left: 5px;
                    }
                }

            }

            .data-info {
                .box-message {
                    height: 20px;

                    p {
                        font-size: 14px;
                        color: red;
                        text-align: center;
                        margin: 0;
                    }
                }

                .btn {
                    background-color: #243a5e;
                    float: right;
                    width: 200px;
                    margin-top: 1em;
                }
            }
        }

        .body-deatils {
            padding: 2em 0 0 1em;

            .table-pedidos {
                margin-top: 1em;
                display: flex;
                gap: 10px;
                flex-direction: column;
                height: auto;
                overflow-x: auto;
                max-height: 400px;
                padding: 5px 10px;

                .pedido-contenedor {
                    padding: 10px 10px;
                    background-color: white;
                    box-sizing: border-box;
                    box-shadow: 0 0 5px rgb(227, 227, 227);

                    .body-pedido {
                        display: flex;
                        gap: 20px;

                        img {
                            width: 5em;
                        }

                        .text-body span {
                            font-size: 14px;
                            margin: 0;
                        }
                       
                        .state-content{
                            gap: 5px;
                            display: flex;
                            
                        }
                    }

                    .footer-table {
                        font-size: 14px;
                        padding-left: 7em;
                        margin-top: 1em;
                    }
                }
            }
        }

    }


}



// /* Estilos para dispositivos de 300px a 499px */
@media (min-width: 300px) and (max-width: 499px) {
    .main-pedidos .body .body-profile {
        font-size: 10px;
    }

}

// /* Estilos para dispositivos pequeños */

@media (max-width: 768px) {
    .main-pedidos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .body {
            width: 100%;
        }

        .data {
            justify-content: center;
            width: 50%;
            align-items: center;
        }
    }
}

/* Estilos para dispositivos medianos */
@media (min-width: 769px) and (max-width: 1024px) {}