
$tittlesFonts: "Roboto Condensed", sans-serif;
$contenidoFonts: "Roboto", sans-serif;
$contenido2: "Montserrat", sans-serif;

// estilos para parrafos en general

@mixin parrafos-generales{
    font-size: 15px;
    font-family: $contenidoFonts
}
// estilos generales para los tutilos 
@mixin titulos-generales{
    font-family: $tittlesFonts;
    font-size: 30px;
    color: #213C65;
    font-weight: 600;
}
// estilos generanes para los subtitulos o parrafaos secundarios
@mixin subtitulos-generales{
    font-size:25px;
    font-family: $tittlesFonts;
    color: #213C65;
}
@mixin backgroundSectionAdmin{
    margin-top: 3em;
    background-color: #f4f4f4;
}
// paleta de colores primciaples y complementarios

$color-principal: #243a5e;
$color-complementario: #f2efe1;


// barra de navegacion 
.nav-custom{
    background-color: $color-principal;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4), -2px -2px 4px rgba(255, 0, 0, 0.4);
    padding: 10px 0;
    .logotipo{
        fill: #ccc;
        width: 8em;
        cursor: pointer;
        transition: all 0.5s ease;
        margin: 0 8px -5px 0 ;
        text-shadow: 0 0 3px black;
        &:hover{
            scale: 1.1;
        };
    }
    .btn-modal-login{
        cursor: pointer;
    }
    .nav-link-custom{
        color: $color-complementario;
        font-weight: lighter;
        font-size: 14px;
        transition: color 0.3s ease;
        text-decoration: none;
        margin-right: 10px;
        transition: all 0.3s ease;
        &:hover {
          color: rgb(158, 158, 207);
          scale: 1.1;
        }
    }
    .btn-custom-movil{
        color: white;
        background-color: #f2efe1;
    }
   
}
.modal-content{
    border: none;
    box-shadow: 0 0 6px rgb(96, 96, 96);
    .modal-body{
        padding: 0;
    }   
}


// Estilos para modales login y registro
.login-form{
    display: flex;
    flex-direction: column;
    padding: 30px;
     
    .fav-login{
        align-self: center;
        width: 7em;
    }
    .text-form{
        color: #213C65;
        margin: 20px 0 ;
    }
    .container-btn-login {
       display: flex;
       justify-content: center;
       margin: 0 15px;       
    }
   
    .txt-form-login{
        margin-top: 10px;
        text-align: center;
        font-weight: 600;
    }
   
    .contenedor-liner{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
        .liner-separator{
            border: 1px solid black;
            width: 13em
           }
    }

    .message-response-server{
        color: red;
        text-align: center;
        margin:7px 10px;
        font-weight: 500;
        font-size: 15px;
        height: 15px;
        font-family: $contenido2;
    }
   
}
//  registro 
.form-register{
    padding: 30px;
    display: flex;
    flex-direction: column;
    .text-form{
        color: #213C65;
        text-align: center;
        margin: 10px 0  20px 0;
    }
    .container-btn-login {
        display: flex;
        justify-content: center;
        margin: 0 15px;       
     }
    .txt-form-login{
        margin-top: 10px;
        text-align: center;
        font-weight: 600;
    }
    .contenedor-liner{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
        .liner-separator{
            border: 1px solid black;
            width: 13em
           }
    }
    .message-response-server{
        color: red;
        text-align: center;
        margin:15px 10px;
        font-weight: 500;
        font-size: 15px;
        height: 15px;
        font-family: $contenido2;
    }
   
}
// alternar modal

.btn-alter-modal{
    border: none;
    background-color: white;
    color: black;
    float: right;
    margin: 0 22px 15px 0;
    font-family: $contenidoFonts;
    &:hover{
        color: rgb(60, 21, 202);
    }
}
// boton de cuperara contraseña
.btn-recovery{
    text-decoration: none;
    float: right;
    margin-top: -5px;
    font-family: $contenido2;
    font-size: 15px;
}

//estilos generales para modales

.btn-close-custom, .footer-modal-custom{
    border: none;
}

.modal-recovery{
    background-color: rgba(0, 0, 0, .3);
    padding-top: 5em;
    backdrop-filter: blur(5px);
}
.txt-warning, .txt-vacio{
    color: rgb(248, 3, 3);
    font-size: 14px;
    margin-left: 10px;
    display: none;
}

.carrusel-container{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 5em;
    .img-carrusel{
        width: 92em;
        height: auto;
        display: block;
        margin: 0 auto;
    }
    .carrusel-item {
        width: 100%;
      }
}

// componente de perfil de usuarios
.popover-user-profile{
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 6px 2px rgb(216, 216, 216);
    border-radius: 10px;
    .name-user-profile{
        color: #243a5e;
        text-align: center;
    }
    .btn-profile-users{
        width: 60%;
        background-color: white;
        color: #243a5e;
        border: none;
        cursor: pointer;
        &:hover{
            background-color: white;
            color: red;
        }
        text-align: left;
    }
    .icon-btn-off{
        margin: -3px 5px 0 0;
        font-size: 19px;
    }
}


 

//Estilos para las cards y textos  de home


.typewriter-container{
    margin: 2em 0;
    height: 50px;
    text-align: center;
    .txt-primario{
       @include titulos-generales()
    }
}

// estilos de parrafo  de la página home

.subtitulo-home {
    @include subtitulos-generales();
    text-align: center;
    padding: 10px;
    margin: 0;
    height: 40px;
}

.content-text-home{
    text-align: center;
    margin: 2em 0 3em 0;
    padding: 10px;
    height: auto;
    @include parrafos-generales()
}
.box-products-home{
    background-color: #0d6efd;
    display: flex;
    gap: 20px;
    padding: 20px;
    height: auto;
    justify-content: center;
    align-items: center;
    .caja{
        width: 100px;
        height: 100px;
        background-color: #f2efe1;
    }
}

.animated-truck{
    float: right;
    width: 100px; 
    animation: moveTruck 3s linear infinite;
}

@keyframes moveTruck {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(50px); 
    }
    100% {
      transform: translateX(0);
    }
}

.svg-home{
    display: flex;
    justify-content: space-between;
}
@media screen and (max-width: 650px) {
    .svg-home {
      display: flex;
      justify-content: space-evenly;
    }
}

.svg-store {
    align-items: center;
    display: flex;
    flex-direction: column;
    .text-svg-store{
        font-size: 13px;
        font-weight: bold;
        font-family: $contenido2;
        text-align: left;
    }
    .text-svg{
        font-size: 12px;
        font-family: $contenido2;
    }

}
.svg-truck{
    display: flex;
    flex-direction: column;
    align-items: center;
    .text-svg-truck{
        font-size: 13px;
        font-weight: bold;
        font-family: $contenido2;
        text-align: left;
    }
    .text-svg{
        font-size: 12px;
        font-family: $contenido2;
    }
}

.jumping-text {
    font-size: 13px;
    font-family: $contenido2;
    text-align: center;
}
  
.footer{
    background-color: #213C65;
}
// esitlode la pagina Nosotros 

.seccion-nosotros-user{
    margin-top: 5rem;
    height: 100vh;
    .title-nosotros{
        @include titulos-generales();
        text-align: center;

    }
    .text-nosotros{
        @include parrafos-generales();
        margin-top: 3em;
        color: #243a5e;
        font-weight: 500;
        text-align: center;
    }
    .contenedor-mision-objetivos{
        margin-top: 4em;
        display: grid;
        grid-template-columns: 50% 50%;
        gap: 40px;
        .text-title-nosotros{
            @include subtitulos-generales();
            text-align: center
        }
        .text-nosotros-mision-objetivos{
            @include parrafos-generales();
            margin: 2em 0;
            color: #243a5e;
        }
    }
    .contenedor-redes-sociales{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 3em;

        .redes{
            margin-top: 2em;
            display: flex;
            gap: 20px;
            
            .icon-redes{
                width: 50px;
                height: 50px;
            }
        }

    }
}




// estilos para el dasboard de administrador

.nav-custome-admin{
    box-shadow: 2px 2px 4px rgba(166, 166, 166, 0.4), -2px -2px 4px rgba(255, 0, 0, 0.4);
    .logotipo{
        margin: 0 0 -5px 0;
        transition: all ease 0.4s;
        cursor: pointer;

        &:hover{
            scale: 1.1;
        }
    
    }
    .nav-link-custome{
        font-weight: 400;
        color: $color-principal;
        cursor: pointer;
        transition: all ease 0.3s;
        text-decoration: none;
        margin-right: 15px;
        &:hover{
            scale: 1.1;
        }
    }
}


// estilos para el dashboard adminitrador

.layout-admin-home{
   @include backgroundSectionAdmin();
    display: grid;
    .section-cards-home-admin{
        display: flex;
        margin: 0;
        flex-direction: column;
        width: 100%;
        .navbar-admin-section{
            width: 100%;
            margin-top: 1em;
            text-align: center;
            flex-wrap: wrap;
            border-radius: 5px;
            padding: 10px 0;
            box-shadow: 0 0 6px rgb(229, 229, 229);
            background-color: white;
    
        }
        
        .container-cards-home-admin{
            width: 100%;
            gap: 25px;
            margin-top: 1em;
            display: flex;
            flex-wrap: wrap;
            padding: 5px;
            justify-content: flex-start;
            align-items: flex-start;
            .link-box{
                text-decoration: none;
                color: #213C65;
            }
            .box-rutas-admin{
                padding: 10px;
                box-shadow: 0 0 6px rgb(229, 229, 229);
                width: 300px;
                border-radius: 7px;
                height: 200px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-top: 10px;
                background-color: white;
                cursor: pointer;
                transition: all ease 0.2s;
                &:hover{
                  box-shadow: 0 0px 6px rgb(183, 182, 182);;
                }
                .icon-box{
                    font-size: 100px;
                }
                .text-primiry-box-rutas{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .text-box-routes{
                        font-family: $contenidoFonts;
                        margin: 0;
                    }
                    .span-box-rutas{
                        font-size: 13px;
                        opacity: 60%;
                        font-family: $contenidoFonts;
                        color:$contenido2
                    }
                }    
            }
        }
        @media screen and (max-width: 1280px){
            .container-cards-home-admin{
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

    }
}
// modal de categorias en dashborad admin
.modal-category{
    .header-modal-category{
        border: none;
    }
    .title-modal-category{
        color:#213C65;
        font-family: $tittlesFonts;
        font-weight: 500;
    }
    .body-modal-category{
        padding: 20px;
        .input-category{
            border-right: none;
            border-top: none;
            border-left: none;
            font-family: $contenidoFonts;
        }
    }
    .footer-modal-category{
        border: none;
    }
  
    .lista-categrtorias-modal{
        padding: 20px;
    }
    .contendor-category-delete{
        margin: 1em;
        .text{
            font-family: $contenidoFonts;
        }
        .text-category-warning{
            font-size: 13px;
            color:#243a5e;
            font-weight: 500;
            font-family: $contenidoFonts;
        }
       
    }


}

.body-components-admin{
   @include backgroundSectionAdmin();
    height: 100vh;
    .layout-admin-user{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .title-user-layout{
            align-self: flex-start;
            margin: 1em 0 0 5em;
            font-size: 30px;
            font-family: $tittlesFonts;
        }
        .table-user-admin{
            box-shadow: 0 0 6px rgb(183, 182, 182);
            width: 80%;
            margin-top: 2em;
            .thead-table-users{
                background-color: #0c5dd6;
                color: $color-complementario;
            }
        }
    }
    
}


// estilos para la pagina de crear productos seccion de administrador

.layout-crear-productos{
    display: flex;
    .content {
        display: flex;
        grid-template-columns: repeat(2, 1fr);
        justify-content: flex-start;
        align-items: flex-start;
        text-align: center;
        gap: 10px;
        flex-wrap: wrap;
        margin: 3em 20px;
        .text-listar-products-admin{
            text-align: center;
            align-self: center;
            font-family: $tittlesFonts;
            font-size: 35px;
            color: #b7b6b6;
            font-weight: 500;
            margin: 5em;
        }
        .productos-cards-listar{
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            display:grid;
            width: 530px;
            padding: 10px 30px;
            justify-content: center;
            align-items: center;
            grid-template-columns: 20% 60% 20%;
            gap: 10px;
            background-color: white;
            transition: box-shadow 0.3s ease-in-out;
            .img-productos{
                width: 7em; 
                height: 7em; 
                
            }
            
            .container-datail-product-edits{
                padding-left: 10px;
                font-size:14px ;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 5px;
                .title-cards{
                    font-weight: 400;
                }
               
            }
            .content-btn-card{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 10px;
                .btn-custom{
                    width: 70%;
                }
              

              
            }
            .custom-file-upload {
                border: 1px solid #ccc;
                display: inline-block;
                padding: 6px 12px;
                cursor: pointer;
                background-color: #f7f7f7;
                color: #333;
                margin-top: 10px;
                border-radius: 4px;
                background-color: #0d6efd;
                color: white;
                .uploap{
                    margin: 5px 1px 0 0;
                  }
              }
                    
        }
        .productos-cards:hover{
            box-shadow: 0 0 5px rgba(156, 154, 154, 0.2);
        }
     
      
        
    }
   
    
    .sidebar{
        grid-area: sidebar;
        padding: 10px;
        max-width: 600px;
        width: 400px;
        display: flex;
        justify-content: right;
        flex-direction:column;
        margin-top: 30px;
        .textarea-crear{
            display: block;
            padding: 10px;
            border-radius: 5px;
            background-color: rgb(236, 236, 236);
            border: none;
            margin: 5px auto;
            width: 90%;
            color: black;
            border-color:transparent;
            outline: 0;
            margin-top: 1em;
        }
        .custom-file-upload {
            padding: 6px 10px;
            cursor: pointer;
            color: #333;
            margin-top: 10px;
            border-radius: 4px;
            background-color: #6c757d;
            color: white;
            .uploap{
                width: 20px;
                margin: -1px 4px 0 0;
              }
        }
        .contenedor-refStock{
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 5px;
            .form-ref{
                width: 50%;
             } 
        }
         
        .container-btn{
            display: flex;
            border: none;
            justify-content: center;
        }
        
        .btn-custom{
            width: 150px;
        }
        .text-titles-admin{
            margin-top: -0.5rem;
            font-size: 20px;
        }
        
    }
 
    .sidebar div {
        background-color: white;
        width:100%;
        max-width: 400px; 
        word-wrap: break-word; 
        box-sizing: border-box;
        padding: 15px;
        border-radius: 3px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        margin: 10px 0;
        align-items: center;
        overflow: hidden; 
    }
    
    
    @media screen and (max-width: 1280px) {
        .content {
            display: flex;
            justify-content: center;
            
        } 
    }
  
    
    @media screen and (max-width: 1024px) {
        .content {
            display: flex;
            justify-content: center;
            .productos-cards-listar {
               display: flex;
               width: 250px;
               flex-direction: column;

               .container-datail-product-edits{
                text-align: left;
               }
               .content-btn-card{
                display: flex;
                flex-direction: row;
               }
              }
        } 
    }

}
// modal para editar productos en el componente crear
.modal-body-editar{
    margin: 15px;
}
// media para el layout admin general
@media screen and (max-width: 770px ){
    
    .layout-crear-productos{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}



// pagina de listar productos en admin --- inventario 
.body-components-inventary{
    height: 100vh;
    margin-top: -10px;
    background-color: #f4f4f4;
    .contenedor-inventario{
        margin:0 auto;
        margin-top: 4em;
        display:flex;
        width: 100%;
        flex-wrap: wrap;
        .card-products-inventario{
            font-family: $contenido2;
            margin: 1rem;
            padding: 0 2px;
            width: 38em;
            display: grid;
            border: none;
            box-shadow: 0 0 5px rgb(207, 207, 207);
            grid-template-columns: 25% 40% 35%;
            gap: 10px;
            cursor: pointer;
            transition: all ease 0.2s;
            .img-productos-inventario{
                width: 10em;
                margin: auto;
            }
            .container-btn-card-products-inventary{
                display: flex;
                flex-direction: column;
                gap: 10px;
                justify-content: center;
                align-items:flex-start;
                padding: 20px;

                .btn-custome-inventary{
                    font-family: $contenidoFonts;
                    font-size: 15px;
                }
            }
            &:hover{
                box-shadow: 0 0px 6px rgb(183, 182, 182);;
              }
           
        }
         
       
        @media screen and (max-width: 1280px){
            .card-products-inventario{
                display: flex;
                width: 18em;
            }
           
        }
    
    }
    @media screen and (max-width: 1280px) {
        .contenedor-inventario{
            display: flex;
            justify-content: center;
        }
    } 
   
}

.modal-edit-inventary {
    .modal-title{
        color: #243a5e;
        font-family: $tittlesFonts;
    }
    .modal-body-editar-inventary {
        margin: 20px;
        .text-modal-inventary {
            font-family: $contenidoFonts;
            color:#243a5e;
            margin: 0;
        }
        .text-recorderi{
            font-size: 14px;
            font-family: $contenidoFonts;
            color: #243a5e;
            margin-bottom: 10px;
        }
        .text-modal{
            margin-top: 10px;
            color: #243a5e;
            font-family: $contenidoFonts
        }
       
    }
   
}
.modal-update-inventory-products{
    .title-modal-update{
        font-family: $tittlesFonts;
        color: #243a5e;
    }
    .modal-body-update-inventory{
        margin: 20px;
        .text-modal-update-inventary{
            font-family: $contenidoFonts;
            color: #243a5e;
        }
        .text-update{
            font-size: 13px;
            font-family: $contenido2;
            color: #243a5e;
        }
    }
   
}


.modal-delete-inventary{
    .modal-body-delete-inventary{
        display: flex;
        flex-direction: column;
    }
    .title-delete-modal{
        margin: auto;
        color: red;
        font-family: $tittlesFonts;
    }
    .icon-warning-modal-delete{
        width: 100px;
        margin: auto;
        height: 100px;
        color: red;
    }
    .warning{
        font-size: 13px;
        font-weight: 500;
        text-align: center;
        margin: 0 20px 10px;
        text-align: center;
        color: rgb(246, 24, 12);
    }
    .text-modal-delete{
        font-family: $contenidoFonts;
        color:#243a5e;
        margin: 2em 15px;
    }
}

.section-ofertas{
    height:100vh;
    @include backgroundSectionAdmin();
    .title-ofertas{
        font-family: $tittlesFonts;
        color: #243a5e;
        text-align: center;
        padding-top: 1em;
    }
   .container-section-ofertas{
    padding: 2em 0;
    display: grid;
    grid-template-columns:70% 30% ;
    gap: 20px;

    .add-ofertas{
        height: auto;
        max-width:400px;
        padding: 15px;
        text-align: center;
        border-radius: 10px;
        font-family: $contenidoFonts;
        background-color: white;
        box-shadow: 0 0 6px 2px rgb(207, 206, 206);
        .title-add-ofertas{
            font-size: 20px;
            font-family: $tittlesFonts;
            color: #243a5e;
            margin-bottom: 20px;
           
        }
        .label-date{
            font-size: 12px;
            color: #243a5e;
        }
        .text{
            font-family: $contenidoFonts;
            font-size: 13px;
            margin: 0;
            padding: 0;
            color: #243a5e;
            text-align: left;
            margin-top: 2em;
        }
       
    }
       
    .section-listado-ofertas{
        background-color: white;
        width: 100%;
        box-shadow: 0 0 6px 2px rgb(207, 206, 206);
        border-radius: 10px;
       .title-list-ofertas{
        font-family: $tittlesFonts;
        color: #243a5e;
        padding: 20px;
       }
       .body-ofertas-acordeon{
        display: flex;
        gap: 5em;

        .content-buttons-section{
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
       }
       .text-oferta{
        font-family: $contenido2;
        color: #243a5e;
       }
       .sale{
        color: red;
       }
       .text-producto-oferta{
        font-family: $tittlesFonts;
       }
       ul {
        padding: 0;
       }
       li{
        list-style: none;
        color: #243a5e;
        font-family: $contenido2;
       }
       
    }
   }
  

    @media screen and (max-width: 1280px) {
        .container-section-ofertas {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 50px;
            
        } 
       .aside-ofertas{
        display: flex;
        justify-content: center;
        align-items: center;
       }
    }
  
   
}
.modal-ofertas-delete{
    .title-modal-delete{
        color: red;
        font-family: $tittlesFonts;
        padding: 20px;
        text-align: center;
    }
    .w-ofertas{
        display: block;
        width: 80px;
        margin: auto ;
        height: 80px;
        color: red;
    }
    .body-modal-ofertas-delete{
        padding:20px ;
    }
    .content-button-ofertas{
        display: flex;
        gap: 10px;
        justify-content: end;
        padding: 20px;
        margin-top: 2em;
    }
    .text-delete-oferta{
        color: #243a5e;
        font-family: $contenidoFonts;
        text-align: center;
        margin-top: 2em;
    }
    .t{
        color: red;
        margin-left: 10px ;
    }
}
.modal-ofertas-update{
    .header-modal-update{
        border: none;
        .title-modal-update{
            color: #243a5e;
            font-family: $tittlesFonts;
        }
    }
    .text-ofertas{
        color: #243a5e;
        text-align: left;
        font-size: 15px;
        margin: 0 ;
        font-family: $contenido2;
        padding: 0 20px;
    }
    .body-modal-ofertas-update{
        padding: 20px;
        font-family: $contenido2;
        color: #243a5e;
        text-align: center;

       .label-date{
        font-size: 12px;
        color: #243a5e;
       }
    }
    .content-button-ofertas{
        padding: 20px;
        display: flex;
        justify-content: end;
    }
}

