
$tittlesFonts: "Roboto Condensed", sans-serif;
$contenidoFonts: "Roboto", sans-serif;
$contenido2: "Montserrat", sans-serif;

// paleta de colores primciaples y complementarios

$color-principal: #243a5e;
$color-complementario: #f2efe1;

// barra de navegacion 
.nav-custom{
    background-color: $color-principal;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4), -2px -2px 4px rgba(255, 0, 0, 0.4);
    padding: 10px 0;
    .logotipo{
        width: 9em;
        cursor: pointer;
        transition: all 0.5s ease;
        margin: 0 12px 1px 0 ;
        &:hover{
            scale: 1.1;
        };
    }
    .btn-modal-login{
        background-color:$color-principal;
        border: none;
    }
    .nav-link-custom{
        color: $color-complementario;
        font-weight: 300;
        font-size: 15px;
        transition: color 0.3s ease;
        text-decoration: none;
        margin-right: 15px;
        transition: all 0.3s ease;
        &:hover {
          color: rgb(158, 158, 207);
          scale: 1.1;
        }
    }
    .btn-custom-movil{
        color: white;
        background-color: #f2efe1;
    }
   
}
.modal-body{
    padding: 0;
}
// Estilos para modales login y registro
.login-form{
    display: flex;
    flex-direction: column;
    padding: 30px;
    .fav-login{
        align-self: center;
        width: 7em;
    }
    .text-form{
        color: #213C65;
        margin-bottom: 10px;
    }
    .container-btn-login{
       margin: 1em 15px;
       height: 25px;
    }
    .txt-form-login{
        margin-top: 10px;
        text-align: center;
    }
   
    .contenedor-liner{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
    }
   
}
.form-register{
    padding: 30px;
    display: flex;
    flex-direction: column;
    .text-form{
        color: #213C65;
        text-align: center;
        margin-bottom: 1em;

    }
    .container-btn-login{
        margin: 1em 15px;
        height: 25px;
        
    }
    .txt-form-login{
        margin-top: 10px;
        text-align: center;
    }
    .contenedor-liner{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
    }
}
.btn-alter-modal{
    border: none;
    background-color: white;
    color: black;
    float: right;
    margin-right: 22px;
    font-family: $contenidoFonts;
    &:hover{
        color: rgb(60, 21, 202);
    }
}
.btn-recovery{
    text-decoration: none;
    float: right;
    margin-top: -5px;
    font-family: $contenido2;
    font-size: 15px;
}

//estilos generales para modales

.btn-close-custom, .footer-modal-custom{
    border: none;
}

.modal-recovery{
    background-color: rgba(0, 0, 0, .3);
    padding-top: 5em;
    backdrop-filter: blur(5px);
}
.txt-warning, .txt-vacio{
    color: rgb(248, 3, 3);
    font-size: 14px;
    margin-left: 10px;
    display: none;
}

.carrusel-container{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 5em;
    .img-carrusel{
        width: 90em;
        display: block;
        margin: 0 auto;
    }
    .carrusel-item {
        width: 100%;
      }
}

//Estilos para las cards y textos  de home



.typewriter-container{
    margin: 2em 0;
    height: 50px;
    text-align: center;
    .txt-primario{
        font-family: $tittlesFonts;
        font-size: 30px;
        color: #213C65;
        font-weight: 600;
    }
}
.txt{
    text-align: center;
    font-family: $contenidoFonts;
    font-size: 14px;
    margin: 2em 0 3em 0;
    padding: 10px;
}
.txt-secundario h2, h3{
    font-size:25px;
    font-family: $tittlesFonts;
    color: #213C65;
    text-align: center;
    margin-top: 2em;
    padding: 10px;
}
.txt-complementario{
    font-family: $contenidoFonts;
    text-align: center;
    margin-top: 2em;
    font-size: 14px;
    margin-bottom: 4rem;
    padding: 10px;

}

.contenedor-home{
    display: grid;
    place-content: center;

}

.animated-truck{
    float: right;
    width: 100px; 
    animation: moveTruck 3s linear infinite;
}

@keyframes moveTruck {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(50px); 
    }
    100% {
      transform: translateX(0);
    }
  }



.svg-home{
    display: flex;
    justify-content: space-between;
}
@media screen and (max-width: 650px) {
    .svg-home {
      display: flex;
      justify-content: space-evenly;
    }
}

.svg-store {
    align-items: center;
    display: flex;
    flex-direction: column;
    .text-svg-store{
        font-size: 13px;
        font-weight: bold;
        font-family: $contenido2;
        text-align: left;
    }
    .text-svg{
        font-size: 12px;
        font-family: $contenido2;
    }

}
.svg-truck{
    display: flex;
    flex-direction: column;
    align-items: center;
    .text-svg-truck{
        font-size: 13px;
        font-weight: bold;
        font-family: $contenido2;
        text-align: left;
    }
    .text-svg{
        font-size: 12px;
        font-family: $contenido2;
    }
}

.jumping-text {
    font-size: 13px;
    font-family: $contenido2;
    text-align: center;
  }
  
section{
    margin-top: 5em;
}
.footer{
    background-color: #213C65;
}

// estilos para la parte del administrador 
.card{
    background-color: #0260a7;
    width: 18em;
}



.contenedor{
    display: grid;
    grid-template-columns: 70% 30%;
    .section-product{
        background-color: #0260a7;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        padding: 15px;
    }
    .sidebar{
        height: 50vh;
        padding: 10px;
        border-left: solid 2px black;
    }
    
}
@media screen and (max-width: 1471px) {
    .section-product{
        display: flex;
        justify-content: center;
    }
}


// --------------------------------------------------------------------------------------------

// estilos para el dasboard de administrador
.nav{
    grid-area: nav;
}




.layout{
    margin-top: 5em;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-areas: 
    'header header header header'
    'nav  nav nav nav '
    'content content content side-bar'
    'footer footer footer footer'
    ;
    grid-template-rows: auto auto auto auto ;
    grid-template-columns: auto 1fr 1fr 1fr;

    .content {
        grid-area: content;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        justify-content: center;
        align-items: flex-start;
        gap: 10px;
        flex-wrap: wrap;
        margin: 0 20px;
     
            
        .productos-cards {
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            padding: 25px 15px;
            margin: 10px 2px;
            flex-grow: 1;
            border-radius: 5px;
            position: relative;
            width: 90%; 
            height: auto; 
            max-width: 350px;
            cursor: pointer;
            text-align: center;
            transition: box-shadow 0.3s ease-in-out;
            .title-cards{
                font-size: 15px;
                font-weight: 600;
            }
            .text-titles-admin{
                margin-top: -0.5rem;
                font-size: 20px;
            }
            
            .container-btn{
                display: flex;
                border: none;
                justify-content: center;
            }
            
            .img-productos{
                width: 100%; 
                height: auto; 
                display: block; 
                border-radius: 5px;
            }
             
            .content-btn-card{
                display: flex;
                gap: 10px;
                justify-content: center;
            }
            .custom-file-upload {
                border: 1px solid #ccc;
                display: inline-block;
                padding: 6px 12px;
                cursor: pointer;
                background-color: #f7f7f7;
                color: #333;
                margin-top: 10px;
                border-radius: 4px;
                background-color: #0d6efd;
                color: white;
                .uploap{
                    width: 20px;
                    margin: -1px 4px 0 0;
                  }
              }
                    
        }
        .productos-cards:hover{
            box-shadow: 0 0 5px rgba(44, 43, 43, 0.2);
        }
      
        
    }

    .side-bar{
        grid-area: side-bar;
        width: 100%;
        padding: 10px;
        max-width: 600px;
        display: flex;
        justify-content: right;
        flex-direction:column;
      
        
    
        .textarea-crear{
            display: block;
            padding: 10px;
            border-radius: 5px;
            background-color: rgb(236, 236, 236);
            border: none;
            margin: 5px auto;
            width: 90%;
            color: black;
            border-color:transparent;
            outline: 0;
            margin-top: 1em;
        }
        .custom-file-upload {
            border: 1px solid #ccc;
            display: inline-block;
            padding: 6px 12px;
            cursor: pointer;
            background-color: #f7f7f7;
            color: #333;
            margin-top: 10px;
            border-radius: 4px;
            background-color: #6c757d;
            color: white;
            .uploap{
                width: 20px;
                margin: -1px 4px 0 0;
              }
          }
          
        .container-btn{
            display: flex;
            border: none;
            justify-content: center;
        }
        .btn-custom{
            width: 150px;
        }
        .text-titles-admin{
            margin-top: -0.5rem;
            font-size: 20px;
        }
        
    }
    .side-bar div {
        width:100%;
        max-width: 400px; 
        word-wrap: break-word; 
        box-sizing: border-box;
        padding: 15px;
        border-radius: 3px;
        box-shadow: 0px 0px 3px #ddd;
        margin: 10px 0;
        align-items: center;
        overflow: hidden; 
    }
    
    
   
    @media screen and (min-width: 1441px) {
        .content {
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        }
    }

    @media screen and (max-width: 768px) {
        .content {
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        }
    }
    @media screen and (max-width: 480px) {
        .content {
            grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        }
        .content-btn-card{
            display: flex;
            flex-wrap: wrap;
        }
    }
    


}

// pruebas para el componente de perfil de usuario

.profile-avatar{
    background-color: red;
    border: none;
    border-radius: 50%;
    padding: 20px;
}
