.nav-custom {
  background-color: #243a5e;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4), -2px -2px 4px rgba(255, 0, 0, 0.4);
  padding: 10px 0;
}
.nav-custom .logotipo {
  fill: #ccc;
  width: 8em;
  cursor: pointer;
  transition: all 0.5s ease;
  margin: 0 8px -5px 0;
  text-shadow: 0 0 3px black;
}
.nav-custom .logotipo:hover {
  scale: 1.1;
}
.nav-custom .btn-modal-login {
  cursor: pointer;
}
.nav-custom .nav-link-custom {
  color: #f2efe1;
  font-weight: lighter;
  font-size: 14px;
  transition: color 0.3s ease;
  text-decoration: none;
  margin-right: 10px;
  transition: all 0.3s ease;
}
.nav-custom .nav-link-custom:hover {
  color: rgb(158, 158, 207);
  scale: 1.1;
}
.nav-custom .btn-custom-movil {
  color: white;
  background-color: #f2efe1;
}

.modal-content {
  border: none;
  box-shadow: 0 0 6px rgb(96, 96, 96);
}
.modal-content .modal-body {
  padding: 0;
}

.login-form {
  display: flex;
  flex-direction: column;
  padding: 30px;
}
.login-form .fav-login {
  align-self: center;
  width: 7em;
}
.login-form .text-form {
  color: #213C65;
  margin: 20px 0;
}
.login-form .container-btn-login {
  display: flex;
  justify-content: center;
  margin: 0 15px;
}
.login-form .txt-form-login {
  margin-top: 10px;
  text-align: center;
  font-weight: 600;
}
.login-form .contenedor-liner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.login-form .contenedor-liner .liner-separator {
  border: 1px solid black;
  width: 13em;
}
.login-form .message-response-server {
  color: red;
  text-align: center;
  margin: 7px 10px;
  font-weight: 500;
  font-size: 15px;
  height: 15px;
  font-family: "Montserrat", sans-serif;
}

.form-register {
  padding: 30px;
  display: flex;
  flex-direction: column;
}
.form-register .text-form {
  color: #213C65;
  text-align: center;
  margin: 10px 0 20px 0;
}
.form-register .container-btn-login {
  display: flex;
  justify-content: center;
  margin: 0 15px;
}
.form-register .txt-form-login {
  margin-top: 10px;
  text-align: center;
  font-weight: 600;
}
.form-register .contenedor-liner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.form-register .contenedor-liner .liner-separator {
  border: 1px solid black;
  width: 13em;
}
.form-register .message-response-server {
  color: red;
  text-align: center;
  margin: 15px 10px;
  font-weight: 500;
  font-size: 15px;
  height: 15px;
  font-family: "Montserrat", sans-serif;
}

.btn-alter-modal {
  border: none;
  background-color: white;
  color: black;
  float: right;
  margin: 0 22px 15px 0;
  font-family: "Roboto", sans-serif;
}
.btn-alter-modal:hover {
  color: rgb(60, 21, 202);
}

.btn-recovery {
  text-decoration: none;
  float: right;
  margin-top: -5px;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
}

.btn-close-custom, .footer-modal-custom {
  border: none;
}

.modal-recovery {
  background-color: rgba(0, 0, 0, 0.3);
  padding-top: 5em;
  backdrop-filter: blur(5px);
}

.txt-warning, .txt-vacio {
  color: rgb(248, 3, 3);
  font-size: 14px;
  margin-left: 10px;
  display: none;
}

.carrusel-container {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 5em;
}
.carrusel-container .img-carrusel {
  width: 92em;
  height: auto;
  display: block;
  margin: 0 auto;
}
.carrusel-container .carrusel-item {
  width: 100%;
}

.popover-user-profile {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 6px 2px rgb(216, 216, 216);
  border-radius: 10px;
}
.popover-user-profile .name-user-profile {
  color: #243a5e;
  text-align: center;
}
.popover-user-profile .btn-profile-users {
  width: 60%;
  background-color: white;
  color: #243a5e;
  border: none;
  cursor: pointer;
  text-align: left;
}
.popover-user-profile .btn-profile-users:hover {
  background-color: white;
  color: red;
}
.popover-user-profile .icon-btn-off {
  margin: -3px 5px 0 0;
  font-size: 19px;
}

.typewriter-container {
  margin: 2em 0;
  height: 50px;
  text-align: center;
}
.typewriter-container .txt-primario {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 30px;
  color: #213C65;
  font-weight: 600;
}

.subtitulo-home {
  font-size: 25px;
  font-family: "Roboto Condensed", sans-serif;
  color: #213C65;
  text-align: center;
  padding: 10px;
  margin: 0;
  height: 40px;
}

.content-text-home {
  text-align: center;
  margin: 2em 0 3em 0;
  padding: 10px;
  height: auto;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
}

.box-products-home {
  background-color: #0d6efd;
  display: flex;
  gap: 20px;
  padding: 20px;
  height: auto;
  justify-content: center;
  align-items: center;
}
.box-products-home .caja {
  width: 100px;
  height: 100px;
  background-color: #f2efe1;
}

.animated-truck {
  float: right;
  width: 100px;
  animation: moveTruck 3s linear infinite;
}

@keyframes moveTruck {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(50px);
  }
  100% {
    transform: translateX(0);
  }
}
.svg-home {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 650px) {
  .svg-home {
    display: flex;
    justify-content: space-evenly;
  }
}
.svg-store {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.svg-store .text-svg-store {
  font-size: 13px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  text-align: left;
}
.svg-store .text-svg {
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
}

.svg-truck {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.svg-truck .text-svg-truck {
  font-size: 13px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  text-align: left;
}
.svg-truck .text-svg {
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
}

.jumping-text {
  font-size: 13px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

.footer {
  background-color: #213C65;
}

.seccion-nosotros-user {
  margin-top: 5rem;
  height: 100vh;
}
.seccion-nosotros-user .title-nosotros {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 30px;
  color: #213C65;
  font-weight: 600;
  text-align: center;
}
.seccion-nosotros-user .text-nosotros {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  margin-top: 3em;
  color: #243a5e;
  font-weight: 500;
  text-align: center;
}
.seccion-nosotros-user .contenedor-mision-objetivos {
  margin-top: 4em;
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 40px;
}
.seccion-nosotros-user .contenedor-mision-objetivos .text-title-nosotros {
  font-size: 25px;
  font-family: "Roboto Condensed", sans-serif;
  color: #213C65;
  text-align: center;
}
.seccion-nosotros-user .contenedor-mision-objetivos .text-nosotros-mision-objetivos {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  margin: 2em 0;
  color: #243a5e;
}
.seccion-nosotros-user .contenedor-redes-sociales {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3em;
}
.seccion-nosotros-user .contenedor-redes-sociales .redes {
  margin-top: 2em;
  display: flex;
  gap: 20px;
}
.seccion-nosotros-user .contenedor-redes-sociales .redes .icon-redes {
  width: 50px;
  height: 50px;
}

.nav-custome-admin {
  box-shadow: 2px 2px 4px rgba(166, 166, 166, 0.4), -2px -2px 4px rgba(255, 0, 0, 0.4);
}
.nav-custome-admin .logotipo {
  margin: 0 0 -5px 0;
  transition: all ease 0.4s;
  cursor: pointer;
}
.nav-custome-admin .logotipo:hover {
  scale: 1.1;
}
.nav-custome-admin .nav-link-custome {
  font-weight: 400;
  color: #243a5e;
  cursor: pointer;
  transition: all ease 0.3s;
  text-decoration: none;
  margin-right: 15px;
}
.nav-custome-admin .nav-link-custome:hover {
  scale: 1.1;
}

.layout-admin-home {
  margin-top: 3em;
  background-color: #f4f4f4;
  display: grid;
}
.layout-admin-home .section-cards-home-admin {
  display: flex;
  margin: 0;
  flex-direction: column;
  width: 100%;
}
.layout-admin-home .section-cards-home-admin .navbar-admin-section {
  width: 100%;
  margin-top: 1em;
  text-align: center;
  flex-wrap: wrap;
  border-radius: 5px;
  padding: 10px 0;
  box-shadow: 0 0 6px rgb(229, 229, 229);
  background-color: white;
}
.layout-admin-home .section-cards-home-admin .container-cards-home-admin {
  width: 100%;
  gap: 25px;
  margin-top: 1em;
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  justify-content: flex-start;
  align-items: flex-start;
}
.layout-admin-home .section-cards-home-admin .container-cards-home-admin .link-box {
  text-decoration: none;
  color: #213C65;
}
.layout-admin-home .section-cards-home-admin .container-cards-home-admin .box-rutas-admin {
  padding: 10px;
  box-shadow: 0 0 6px rgb(229, 229, 229);
  width: 300px;
  border-radius: 7px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  background-color: white;
  cursor: pointer;
  transition: all ease 0.2s;
}
.layout-admin-home .section-cards-home-admin .container-cards-home-admin .box-rutas-admin:hover {
  box-shadow: 0 0px 6px rgb(183, 182, 182);
}
.layout-admin-home .section-cards-home-admin .container-cards-home-admin .box-rutas-admin .icon-box {
  font-size: 100px;
}
.layout-admin-home .section-cards-home-admin .container-cards-home-admin .box-rutas-admin .text-primiry-box-rutas {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.layout-admin-home .section-cards-home-admin .container-cards-home-admin .box-rutas-admin .text-primiry-box-rutas .text-box-routes {
  font-family: "Roboto", sans-serif;
  margin: 0;
}
.layout-admin-home .section-cards-home-admin .container-cards-home-admin .box-rutas-admin .text-primiry-box-rutas .span-box-rutas {
  font-size: 13px;
  opacity: 60%;
  font-family: "Roboto", sans-serif;
  color: "Montserrat", sans-serif;
}
@media screen and (max-width: 1280px) {
  .layout-admin-home .section-cards-home-admin .container-cards-home-admin {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.modal-category .header-modal-category {
  border: none;
}
.modal-category .title-modal-category {
  color: #213C65;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 500;
}
.modal-category .body-modal-category {
  padding: 20px;
}
.modal-category .body-modal-category .input-category {
  border-right: none;
  border-top: none;
  border-left: none;
  font-family: "Roboto", sans-serif;
}
.modal-category .footer-modal-category {
  border: none;
}
.modal-category .lista-categrtorias-modal {
  padding: 20px;
}
.modal-category .contendor-category-delete {
  margin: 1em;
}
.modal-category .contendor-category-delete .text {
  font-family: "Roboto", sans-serif;
}
.modal-category .contendor-category-delete .text-category-warning {
  font-size: 13px;
  color: #243a5e;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}

.body-components-admin {
  margin-top: 3em;
  background-color: #f4f4f4;
  height: 100vh;
}
.body-components-admin .layout-admin-user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.body-components-admin .layout-admin-user .title-user-layout {
  align-self: flex-start;
  margin: 1em 0 0 5em;
  font-size: 30px;
  font-family: "Roboto Condensed", sans-serif;
}
.body-components-admin .layout-admin-user .table-user-admin {
  box-shadow: 0 0 6px rgb(183, 182, 182);
  width: 80%;
  margin-top: 2em;
}
.body-components-admin .layout-admin-user .table-user-admin .thead-table-users {
  background-color: #0c5dd6;
  color: #f2efe1;
}

.layout-crear-productos {
  display: flex;
}
.layout-crear-productos .content {
  display: flex;
  grid-template-columns: repeat(2, 1fr);
  justify-content: flex-start;
  align-items: flex-start;
  text-align: center;
  gap: 10px;
  flex-wrap: wrap;
  margin: 3em 20px;
}
.layout-crear-productos .content .text-listar-products-admin {
  text-align: center;
  align-self: center;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 35px;
  color: #b7b6b6;
  font-weight: 500;
  margin: 5em;
}
.layout-crear-productos .content .productos-cards-listar {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: grid;
  width: 530px;
  padding: 10px 30px;
  justify-content: center;
  align-items: center;
  grid-template-columns: 20% 60% 20%;
  gap: 10px;
  background-color: white;
  transition: box-shadow 0.3s ease-in-out;
}
.layout-crear-productos .content .productos-cards-listar .img-productos {
  width: 7em;
  height: 7em;
}
.layout-crear-productos .content .productos-cards-listar .container-datail-product-edits {
  padding-left: 10px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}
.layout-crear-productos .content .productos-cards-listar .container-datail-product-edits .title-cards {
  font-weight: 400;
}
.layout-crear-productos .content .productos-cards-listar .content-btn-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.layout-crear-productos .content .productos-cards-listar .content-btn-card .btn-custom {
  width: 70%;
}
.layout-crear-productos .content .productos-cards-listar .custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  background-color: #f7f7f7;
  color: #333;
  margin-top: 10px;
  border-radius: 4px;
  background-color: #0d6efd;
  color: white;
}
.layout-crear-productos .content .productos-cards-listar .custom-file-upload .uploap {
  margin: 5px 1px 0 0;
}
.layout-crear-productos .content .productos-cards:hover {
  box-shadow: 0 0 5px rgba(156, 154, 154, 0.2);
}
.layout-crear-productos .sidebar {
  grid-area: sidebar;
  padding: 10px;
  max-width: 600px;
  width: 400px;
  display: flex;
  justify-content: right;
  flex-direction: column;
  margin-top: 30px;
}
.layout-crear-productos .sidebar .textarea-crear {
  display: block;
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(236, 236, 236);
  border: none;
  margin: 5px auto;
  width: 90%;
  color: black;
  border-color: transparent;
  outline: 0;
  margin-top: 1em;
}
.layout-crear-productos .sidebar .custom-file-upload {
  padding: 6px 10px;
  cursor: pointer;
  color: #333;
  margin-top: 10px;
  border-radius: 4px;
  background-color: #6c757d;
  color: white;
}
.layout-crear-productos .sidebar .custom-file-upload .uploap {
  width: 20px;
  margin: -1px 4px 0 0;
}
.layout-crear-productos .sidebar .contenedor-refStock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}
.layout-crear-productos .sidebar .contenedor-refStock .form-ref {
  width: 50%;
}
.layout-crear-productos .sidebar .container-btn {
  display: flex;
  border: none;
  justify-content: center;
}
.layout-crear-productos .sidebar .btn-custom {
  width: 150px;
}
.layout-crear-productos .sidebar .text-titles-admin {
  margin-top: -0.5rem;
  font-size: 20px;
}
.layout-crear-productos .sidebar div {
  background-color: white;
  width: 100%;
  max-width: 400px;
  word-wrap: break-word;
  box-sizing: border-box;
  padding: 15px;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: 10px 0;
  align-items: center;
  overflow: hidden;
}
@media screen and (max-width: 1280px) {
  .layout-crear-productos .content {
    display: flex;
    justify-content: center;
  }
}
@media screen and (max-width: 1024px) {
  .layout-crear-productos .content {
    display: flex;
    justify-content: center;
  }
  .layout-crear-productos .content .productos-cards-listar {
    display: flex;
    width: 250px;
    flex-direction: column;
  }
  .layout-crear-productos .content .productos-cards-listar .container-datail-product-edits {
    text-align: left;
  }
  .layout-crear-productos .content .productos-cards-listar .content-btn-card {
    display: flex;
    flex-direction: row;
  }
}

.modal-body-editar {
  margin: 15px;
}

@media screen and (max-width: 770px) {
  .layout-crear-productos {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.body-components-inventary {
  height: 100vh;
  margin-top: -10px;
  background-color: #f4f4f4;
}
.body-components-inventary .contenedor-inventario {
  margin: 0 auto;
  margin-top: 4em;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.body-components-inventary .contenedor-inventario .card-products-inventario {
  font-family: "Montserrat", sans-serif;
  margin: 1rem;
  padding: 0 2px;
  width: 38em;
  display: grid;
  border: none;
  box-shadow: 0 0 5px rgb(207, 207, 207);
  grid-template-columns: 25% 40% 35%;
  gap: 10px;
  cursor: pointer;
  transition: all ease 0.2s;
}
.body-components-inventary .contenedor-inventario .card-products-inventario .img-productos-inventario {
  width: 10em;
  margin: auto;
}
.body-components-inventary .contenedor-inventario .card-products-inventario .container-btn-card-products-inventary {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
}
.body-components-inventary .contenedor-inventario .card-products-inventario .container-btn-card-products-inventary .btn-custome-inventary {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}
.body-components-inventary .contenedor-inventario .card-products-inventario:hover {
  box-shadow: 0 0px 6px rgb(183, 182, 182);
}
@media screen and (max-width: 1280px) {
  .body-components-inventary .contenedor-inventario .card-products-inventario {
    display: flex;
    width: 18em;
  }
}
@media screen and (max-width: 1280px) {
  .body-components-inventary .contenedor-inventario {
    display: flex;
    justify-content: center;
  }
}

.modal-edit-inventary .modal-title {
  color: #243a5e;
  font-family: "Roboto Condensed", sans-serif;
}
.modal-edit-inventary .modal-body-editar-inventary {
  margin: 20px;
}
.modal-edit-inventary .modal-body-editar-inventary .text-modal-inventary {
  font-family: "Roboto", sans-serif;
  color: #243a5e;
  margin: 0;
}
.modal-edit-inventary .modal-body-editar-inventary .text-recorderi {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  color: #243a5e;
  margin-bottom: 10px;
}
.modal-edit-inventary .modal-body-editar-inventary .text-modal {
  margin-top: 10px;
  color: #243a5e;
  font-family: "Roboto", sans-serif;
}

.modal-update-inventory-products .title-modal-update {
  font-family: "Roboto Condensed", sans-serif;
  color: #243a5e;
}
.modal-update-inventory-products .modal-body-update-inventory {
  margin: 20px;
}
.modal-update-inventory-products .modal-body-update-inventory .text-modal-update-inventary {
  font-family: "Roboto", sans-serif;
  color: #243a5e;
}
.modal-update-inventory-products .modal-body-update-inventory .text-update {
  font-size: 13px;
  font-family: "Montserrat", sans-serif;
  color: #243a5e;
}

.modal-delete-inventary .modal-body-delete-inventary {
  display: flex;
  flex-direction: column;
}
.modal-delete-inventary .title-delete-modal {
  margin: auto;
  color: red;
  font-family: "Roboto Condensed", sans-serif;
}
.modal-delete-inventary .icon-warning-modal-delete {
  width: 100px;
  margin: auto;
  height: 100px;
  color: red;
}
.modal-delete-inventary .warning {
  font-size: 13px;
  font-weight: 500;
  text-align: center;
  margin: 0 20px 10px;
  text-align: center;
  color: rgb(246, 24, 12);
}
.modal-delete-inventary .text-modal-delete {
  font-family: "Roboto", sans-serif;
  color: #243a5e;
  margin: 2em 15px;
}

.section-ofertas {
  height: 100vh;
  margin-top: 3em;
  background-color: #f4f4f4;
}
.section-ofertas .title-ofertas {
  font-family: "Roboto Condensed", sans-serif;
  color: #243a5e;
  text-align: center;
  padding-top: 1em;
}
.section-ofertas .container-section-ofertas {
  padding: 2em 0;
  display: grid;
  grid-template-columns: 70% 30%;
  gap: 20px;
}
.section-ofertas .container-section-ofertas .add-ofertas {
  height: auto;
  max-width: 400px;
  padding: 15px;
  text-align: center;
  border-radius: 10px;
  font-family: "Roboto", sans-serif;
  background-color: white;
  box-shadow: 0 0 6px 2px rgb(207, 206, 206);
}
.section-ofertas .container-section-ofertas .add-ofertas .title-add-ofertas {
  font-size: 20px;
  font-family: "Roboto Condensed", sans-serif;
  color: #243a5e;
  margin-bottom: 20px;
}
.section-ofertas .container-section-ofertas .add-ofertas .label-date {
  font-size: 12px;
  color: #243a5e;
}
.section-ofertas .container-section-ofertas .add-ofertas .text {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  margin: 0;
  padding: 0;
  color: #243a5e;
  text-align: left;
  margin-top: 2em;
}
.section-ofertas .container-section-ofertas .section-listado-ofertas {
  background-color: white;
  width: 100%;
  box-shadow: 0 0 6px 2px rgb(207, 206, 206);
  border-radius: 10px;
}
.section-ofertas .container-section-ofertas .section-listado-ofertas .title-list-ofertas {
  font-family: "Roboto Condensed", sans-serif;
  color: #243a5e;
  padding: 20px;
}
.section-ofertas .container-section-ofertas .section-listado-ofertas .body-ofertas-acordeon {
  display: flex;
  gap: 5em;
}
.section-ofertas .container-section-ofertas .section-listado-ofertas .body-ofertas-acordeon .content-buttons-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.section-ofertas .container-section-ofertas .section-listado-ofertas .text-oferta {
  font-family: "Montserrat", sans-serif;
  color: #243a5e;
}
.section-ofertas .container-section-ofertas .section-listado-ofertas .sale {
  color: red;
}
.section-ofertas .container-section-ofertas .section-listado-ofertas .text-producto-oferta {
  font-family: "Roboto Condensed", sans-serif;
}
.section-ofertas .container-section-ofertas .section-listado-ofertas ul {
  padding: 0;
}
.section-ofertas .container-section-ofertas .section-listado-ofertas li {
  list-style: none;
  color: #243a5e;
  font-family: "Montserrat", sans-serif;
}
@media screen and (max-width: 1280px) {
  .section-ofertas .container-section-ofertas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
  }
  .section-ofertas .aside-ofertas {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.modal-ofertas-delete .title-modal-delete {
  color: red;
  font-family: "Roboto Condensed", sans-serif;
  padding: 20px;
  text-align: center;
}
.modal-ofertas-delete .w-ofertas {
  display: block;
  width: 80px;
  margin: auto;
  height: 80px;
  color: red;
}
.modal-ofertas-delete .body-modal-ofertas-delete {
  padding: 20px;
}
.modal-ofertas-delete .content-button-ofertas {
  display: flex;
  gap: 10px;
  justify-content: end;
  padding: 20px;
  margin-top: 2em;
}
.modal-ofertas-delete .text-delete-oferta {
  color: #243a5e;
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin-top: 2em;
}
.modal-ofertas-delete .t {
  color: red;
  margin-left: 10px;
}

.modal-ofertas-update .header-modal-update {
  border: none;
}
.modal-ofertas-update .header-modal-update .title-modal-update {
  color: #243a5e;
  font-family: "Roboto Condensed", sans-serif;
}
.modal-ofertas-update .text-ofertas {
  color: #243a5e;
  text-align: left;
  font-size: 15px;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  padding: 0 20px;
}
.modal-ofertas-update .body-modal-ofertas-update {
  padding: 20px;
  font-family: "Montserrat", sans-serif;
  color: #243a5e;
  text-align: center;
}
.modal-ofertas-update .body-modal-ofertas-update .label-date {
  font-size: 12px;
  color: #243a5e;
}
.modal-ofertas-update .content-button-ofertas {
  padding: 20px;
  display: flex;
  justify-content: end;
}

/*# sourceMappingURL=App.css.map */
