$tittlesFonts: "Roboto Condensed", sans-serif;
$contenidoFonts: "Roboto", sans-serif;
$contenido2: "Montserrat", sans-serif;


$color-principal: #243a5e;
$color-complementario: #f2efe1;

@mixin bordeBox {
  border: solid 1px #efefef;
  box-shadow: 0 0 5px rgba(133, 133, 133, 0);
  box-sizing: border-box;
  border-radius: 1px;
}


.body-content .container-data-users {
  padding: 10px 0;
  .table-user {
    padding: 10px;
    @include bordeBox();
    background-color: white;
    width: 99%;
    margin: 0 auto 10px auto;
    h2{
      background-color: #3670c6;
      padding: 5px 0;
      color: rgb(235, 235, 235);
      margin: 0;
    }
    .table-responsive {

      .table {
        td {
          .btn-orders{
            border: none;
            background: transparent;
          }
        }
      }
    }

    
  }
}