@mixin bordeBox {
  border: solid 1px #ebebeb;
  box-shadow: 0 0 5px rgba(84, 84, 84, 0);
  box-sizing: border-box;
  background-color: white;
}


$tittlesFonts: "Roboto Condensed", sans-serif;
$contenidoFonts: "Roboto", sans-serif;
$contenido2: "Montserrat", sans-serif;


$color-principal: #243a5e;
$color-complementario: #f2efe1;



.body-content {
  .container-cards-home-admin {
    display: flex;
    flex-direction: column;

    .dahsboard {
      background-image: linear-gradient(to right bottom, #000000, #020202, #040404, #060605, #080807, #111111, #181717, #1d1d1d, #2a2a2a, #373737, #454545, #545454);
      width: 96%;
      border-radius: 10px;
      padding: 20px;
      display: flex;
      flex-direction: column;
      margin: 20px auto 0px auto;
      justify-content: center;
      align-items: center;
      height: 12em;

      .profile {
        width: 100px;
        border-radius: 50%;
        height: 5em;
        margin: 10px 0 20px;
        box-shadow: 0 0 30px 1px rgb(86, 86, 86);
      }

      h2 {
        color: #eeeeee;

        strong {
          text-transform: capitalize;

        }
      }
    }

    .box-rutas-admin {
      display: grid;
      gap: 30px;
      padding: 20px;
      grid-template-columns: repeat(auto-fit, minmax(17em, 1em));
      place-content: center;


      .link-box {
        border-radius: 10px;
        height: 10em;
        box-shadow: 0 0 5px rgb(239, 239, 239);
        transition: all ease 0.3s;
        font-family: $contenidoFonts;
        background-color: rgb(255, 255, 255);

        .icon-box-content {
          width: 100%;
          margin: 0px auto 7px auto;
          padding: 10px;
          display: flex;
          justify-content: center;
          border-radius: 10px 10px 0px 0px;

          .icon-box {
            display: block;
            width: 80px;
            height: 80px;
            color: rgb(235, 235, 235);
          }

        }

        .icb-1 {
          background-color: #fbddb9;
        }

        .icb-2 {
          background-color: #6ee35e;
        }

        .icb-3 {
          background-color: #cd76d8;
        }

        .icb-4 {
          background-color: #c86464;
        }

        .icb-5 {
          background-color: #33ddc0;
        }

        .icb-6 {
          background-color: #75efff;
        }

        .icb-7 {
          background-color: #284cc5;
        }

        .body-rutas {
          display: flex;
          flex-direction: column;
          padding: 0px 0px 0px 10px;
          margin: 0;

          h2 {
            margin:0;
          }
        }

        &:hover {
          box-shadow: 0 0 5px 1px rgb(199, 199, 199);
        }
      }


    }

    h2 {
      font-weight: bold;
    }

    span {
      font-size: 13px !important;
      color: #525252;
    }
  }
}




// /* Estilos para dispositivos de 300px a 499px */
@media (min-width: 300px) and (max-width: 499px) {
  .nav-sidebar .box-infor-admin .admin {
    display: none;

    .icon {
      font-size: 30px;

    }
  }

  .body-content .container-cards-home-admin .box-rutas-admin {
    padding-top: 10px !important;


  }

}

/* Estilos para dispositivos pequeños */
@media (max-width: 768px) {
  .nav-custome-admin {
    .nav-layout-admin {
      flex-wrap: nowrap;

      .navbar-toggler {
        display: none;
      }
    }

    .navbar-collapse .box-infor-admin {
      .admin {
        font-size: 7px;
        display: none;
      }

      .logout {
        padding-right: 20px;
      }

    }

  }

  .body-content .container-cards-home-admin .box-rutas-admin {
    place-content: center;

  }

}

/* Estilos para dispositivos medianos */
@media (min-width: 769px) and (max-width: 1024px) {
  .body-content .container-cards-home-admin .box-rutas-admin {
    place-content: center;

  }

}